/*================================================*
*
*
/*================================================*/
body {
  background-attachment: fixed;
  background-color: #a4a4a4;
  background-image: url('../img/blue-back.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
  font-size: 0.85rem;
}
a {
  color: inherit;
  cursor: pointer;
}
h1 {
  color: #003a00;
  border-bottom: solid #e4e5e7 1px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.00rem;
  padding-bottom: 6px;
}
h4 {
  color: #3a3a3a;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.25rem;
}
h5 {
  color: #3a3a3a;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.1rem;
}
table {
  font-size: 0.8rem;
}
/**
 * Login
 */
 .card-login {
  box-shadow: 2px 3px 8px 0rem #003a0047;
}
.card-login .image-logo {
  background: #ffffff;
  padding: 10px 15px;
}
.card-login .image-logo > img {
  border-style: none;
  height: 60px;
  margin-left: .1cm;
  vertical-align: middle;
  width: auto;
}
.card-login .card-body {
  background: #ffffff;
  border-bottom-style: inset;
}
.card-body h4 {
  color: #8cacf4;
}
.card-login .card-body label {
  color: inherit;
}
/*
.card-login .form-control:focus {
  border-color: #5ed6e9;
  box-shadow: 0 0 0 0.2rem #5ed6e96b;
  outline: 0;
}
*/
.card-login .was-validated .form-control:invalid {
  border-color: #a40000;
}
.card-login .was-validated .form-control:valid {
  border-color: #00a400;
}
.card-login .was-validated .form-control:invalid:focus {
  box-shadow: 0 0 0 0.2rem #a400002b;
}
.card-login .was-validated .form-control:valid:focus {
  box-shadow: 0 0 0 0.2rem #00a4002b;
}
.card-login .invalid-feedback {
  color: #a40000;
}
.card-login .btn-success {
  background-color: #00a43a;
  border-color: #003a00;
  color: #ffffff;
}
.card-login .btn-success:focus {
  box-shadow: 0 0 0 0.2rem #00a4006b;
}
.card-login .btn-success:not(:disabled):not(.disabled):active {
  background-color: #003a00;
  border-color: inherit;
  color: #3aa43a;
}
.card-login .btn-success:not(:disabled):not(.disabled):active:focus {
  box-shadow: inherit;
}
/** no se utilizan **/
.card-login .foot-logo {
  background: rgb(243, 243, 243);
  padding: 10px 15px;
}
.card-login .text-muted {
  color:  rgb(157, 216, 240) !important;
}
/**
 * Admin
 */
 .navbar.navbar-systemax {
  background-color: #fff;
  border-bottom-color: #00a400;
  border-bottom-style: inset;
  border-bottom-width: 3px;
}
.navbar.navbar-systemax .navbar-brand .logo-ax {
  height: 48px;
  width: auto;
}
#wrapper {
  margin-top: 69px;
}
#page-content-wrapper {
  padding-top: 0;
}
.container-main {
  background-color: #ffffff;
  min-height: 460px;
  box-shadow: 0px 4px 15px 2px #003a00;
}
#sidebar-wrapper {
  background:  #484848;
  border-right: solid #00a400 2px;
}
.sidebar-nav > .sidebar-brand a,
.sidebar-nav li {
  color: #a4a4a4;
}
.sidebar-nav li a {
  color: inherit;
}
.sidebar-nav li a:hover {
  background-color: #003a3aab;
  color: #fff !important;
}
.sidebar-nav li a:active,
.sidebar-nav li a.active {
  background-color: #003a3a;
  color: #fff !important;
}
.nav-item > ul {
  list-style: none;
}
.nav-item .fa {
  color: #fff;
  display: inline;
}
.table .thead-light th {
  background-color: #042571;
  border-color: #8cacf4;
  color: #8cacf4;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  text-align: center;
}
.list-on-table {
  margin: 0;
}
.list-on-table li {
  padding: 0 2px;
}
.list-on-table > li:nth-child(odd) {
  background-color: #f8f9fa;
}
.list-on-table > li:nth-child(even) {
  background-color: #ebebeb;
}
.list-on-table .left-span {
  display: inline-block;
  min-width: 150px;
  width: 60%;
}
.list-on-table .right-span {
  display: inline-block;
  min-width: 90px;
  vertical-align: bottom;
  width: 38%;
}/* revisar este estilo */
/**
* Media Queries
*/
@media (min-width: 576px) {
  .navbar.navbar-systemax .navbar-brand .logo-ax {
      height: 50px;
  }
  #wrapper {
      margin-top: 79px;
  }
}
@media (min-width: 768px) {
}

/** estilos sin cambiar **/
/**
 * File input
 */
 .input-group > .custom-file.custom-file-sm {
  height: calc(1.8125rem + 2px);
  font-size: 75%;
}
.custom-file-input {
  height: inherit;
}
.custom-file-label {
  height: inherit;
}
.custom-file.custom-file-sm .custom-file-label::after {
  background: none;
  height: inherit;
  content: "Buscar";
}
/**
 * Valores de los productos
 */
span.currency {
  display: inline-block;
  font-size: 0.7rem;
  text-align: right;
  width: 40px;
}
span.value {
  display: inline-block;
  text-align: right;
  width: 95px;
}
.col-form-label > span {
  color: #db007c;
}
.double {
  font-size: 1rem;
}
/**
 * Colores
 */
.btn-primary {
  background-color: #042571;
  border-color: #042571;
}
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #0d3ba6;
  border-color: #0d3ba6;
}
.btn-outline-primary,
.btn-outline-primary:hover {
  background-color: transparent;
  border-color: #042571;
  color: #042571;
}
.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: #042571;
  border-color: #042571;
}
.dropdown-menu {
  font-size: inherit;
}
.card {
  border-color: #04257166;
  box-shadow: 0px 0px 15px 2px #bc8ba1;
}
.card-header {
  background-color: #04257111;
  border-bottom-color: #04257166;
}
/*


.table .thead-light th {
  color: white;
  border-color: #dee2e6;
}

.btn-group-sm>.btn, .btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;

}

.mt-5, .my-5 {
    margin-top: 3rem!important;
}



.navbar-expand-md .navbar-collapse {

    margin-left: 2.5cm;
    margin-right: .5cm;
}

.input-group-text {
  margin-left: -1px;
  background-color: rgb(192, 189, 191) !important;
}

.container-fluid{
  height: 100%;
  background: white;
  padding: 50px;
}
*/

.text-info {
  color: #021e5d!important;
}
.bg-primary {
  background-color: #db007c!important;
}
/*
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
  background: #db007c;
}
*/
#about .panel-heading .panel-title {
  color:white;
  font-weight:bold;
  font-family: 'Quicksand', sans-serif;
}

.garanty{
  background: #db007c;
}
.titulo{
  background: #db007c;
}
.modal-content {

  /*width: 150%;*/

}
.modhedfut{
  background: #021e5d;
}
.modhedfutt{
  background: #db007c;
}
.modal-title {
color: white;
font-size: 20px;
font-family: 'Quicksand', sans-serif;
}
.close {

  color: white;

}
.box{
  border: 5px solid #021e5d;


}
.text-center {
  text-align: center!important;
  /*background:  rgb(236, 234, 234);*/
}
.total{
  background:rgb(121, 171, 230) ;
}

.tableG {
  width: 300%;
  margin-bottom: 1rem;
  background-color: transparent;
}
.tablez {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.inputt { width:100%; height:100%; }

@media print{
  .oculto-impresion, .oculto-impresion *{
    display: none !important;
  }
}

.tit{
 text-decoration-color: #000;
}

.encabezado12{

border-bottom: groove;
}

.encabezado13{
  background: #f3f0f2;
  border-top: double;
border-bottom: double;
}
.cut{
  background:#db007c;
  text-decoration-color: white;
}
/*
form span {
  color: red;
}
*/
.panelT  {
  border-bottom: 4px solid #021e5d;

}
.input {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 0 4px 0 4px;
}
.productD{
  width: 450px;
  height: auto;
  top: 10px;
  left: 558.5px;
}

.custom-select {
  height: 50px !important;
  width: 120px !important;
  padding: 1px 10px 0 30px;
  border-radius: 15;
  border: 1px solid #141b57 !important;
}
/*custom tag css*/
.tag {
  display: inline-block;
  position: relative;
  margin: 5px 10px 5px 0px;
}
.tag label {
  padding: 7px 20px 6px 18px;
  position: relative;
  z-index: 200;
  color: white;
  display: block;
  border-radius: 6px;
  background: #305ae3;
  transition: all 0.08s ease-in;
}
.tag .far {
  position: absolute;
  z-index: 250;
  left: 4px;
  font-size: 15px;
  top: 9px;
  color: white;
  line-height: 0.95;
}
.tag .fa-check {
  display: none;
  top: 8px;
  right: 10px;
  transition: all 0.08s ease-in;
}
.tag input[type=checkbox]:checked + label {
  background: #f94877;
  -webkit-animation: flick 0.08s;
          animation: flick 0.08s;
}
.tag input[type=checkbox]:checked ~ .fa-plus {
  display: none;
}
.tag input[type=checkbox]:checked ~ .fa-check {
  -webkit-animation: flick 0.08s;
          animation: flick 0.08s;
  display: block;
}
.firstText {
  font-size: 12px;
  font-style: normal;
}
.secondText {
  font-size: 14px;
  font-weight: bold;
}

/*Estilo para la sección de escaneo de series*/
.hideSelectListClient{
  display: none;
}
.card-statistics .card-col {
    border-right: 1px solid #d5dcec;
}

/*Paleta de colores para los días en cambaceo de un equipo*/
.daysGreen { background: #248D32 !important; }
.daysOrange { background: #D68822 !important; }
.daysRed { background: #FF191D !important; }
.b { font-weight: bold; }

@media print { .noprint {display:none;} }


/*Estilo para registrar venta*/
.page-body {
  padding: 0 30px;
}
.panel {
  position: relative;
  color: #555;
  background: #FFF;
  margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: 0px 0px 50px -15px rgba(0, 0, 0, 0.33);
}
.br-20x {
  border-radius: 20px !important;
}
.panel-head {
  display: table;
  width: 100%;
  margin: 0;
  color: #777;
  padding: 20px 25px 15px 25px;
  border-bottom: 1px solid #EEE;
}
.panel-title {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-size: 18px;
  font-family: "Dosis", "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
}
.text-primary {
  color: #3F51B5 !important;
}
.panel-head-icon {
  font-size: 20px;
  padding: 0 10px 0 0;
  display: table-cell;
  vertical-align: middle;
}
.panel-title-text {
  display: table-cell;
  vertical-align: middle;
}
.text-muted {
  color: #6c757d !important;
}
.panel-body {
  padding: 25px;
}
.panel-footer {
  border-top: 1px solid #DDD;
  padding: 20px 25px;
}
.btn-pill {
  border-radius: 60px;
}
.m-0 {
  margin: 0 !important;
}
.widget-separator-1 > div {
  border-right: 1px solid #EEE;
}
.widget-1 {
  padding: 20px;
}
.widget-1 .content {
  padding: 15px 0;
  border-bottom: 1px dashed #DDD;
}
.align-items-center {
  align-items: center !important;
}
.widget-1 .content .number {
  font-size: 30px;
  font-weight: 500;
}
.text-secondary {
  color: #282a3c !important;
}
.text-primary {
  color: #3F51B5 !important;
}

/*Modal custom for note*/
.modal-title-note {
  font-size: 20px;
  color: #000;
}
.modal-title-note {
  margin-bottom: 0;
  line-height: 1.5;
}
.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000 !important;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}
.widget-5 {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 30px;
}
.widget-5 .icon {
  width: 50px;
  height: 100%;
  line-height: 100%;
  text-align: center;
  font-size: 24px;
  background: #3F51B5;
  color: #FFF;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.widget-5 .icon i {
  display: inline-block;
}
.tbl-cell {
  display: table-cell;
  vertical-align: middle;
}
.widget-5 .content {
  padding: 12px 10px;
}
.widget-5 .content h4 {
  font-size: 20px;
  color: #333;
  font-family: "Dosis", "Poppins", sans-serif;
  margin: 0;
}
.widget-5 .content p {
  font-size: 14px;
  color: #CCC;
  margin: 0 0 0 2px;
}


/*Spinner loading*/
#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 500px; /*175px*/
}
#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 500px; /*175px*/
}
#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 87.5px;
}
#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  width: 87.5px;
}
#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg);
}
#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal none infinite running load;
  background: #00ff80 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg);
}
#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal none infinite running load;
  background: #00ffea none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg);
}
#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running load;
  background: #00aaff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg);
}
#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running load;
  background: #0040ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg);
}
#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal none infinite running load;
  background: #2a00ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg);
}
#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal none infinite running load;
  background: #9500ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg);
}
#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal none infinite running load;
  background: magenta none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg);
}
#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal none infinite running load;
  background: #ff0095 none repeat scroll 0 0;
}
#loader .loading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  width: 500px; /*180px*/
}
@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.spinner-message {
  text-align: center;
  color: #FFF;
  font-size: 20px;
}
/*.wrapper {}*/
.overlay {
  position: absolute;
  z-index: 1002;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}
.spinner-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(134, 90, 90, 0.8);
}

/*Forma de pago*/
.grid-margin {
  margin-bottom: 1.875rem;
}
.card-custom {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e3e3;
  border-radius: 0;
}
.icon-md {
    font-size: 2rem;
}
.ml-3{
    margin-left: 1rem !important;
}
.transition-all {
  transition: all 0.4s ease 0s;
}
.underline {
  text-decoration: line-through;
  color: red;
}

/*Dashboard general*/
.stretch-card {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch;
}
.grid-margin {
  margin-bottom: 1.875rem;
}
.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}
.titleWhite{
  color: #ffffff !important;
  font-size: 18px;
}
.texth {
  color: #ffffff !important;
  font-size: 14px;
}

textarea#imei {
  padding:10px;
  width:250px;
  font-size:16px;
  font-weight:400;
}
.porte {
  /*background-color: #fafafa;*/
  margin: 1rem;
  padding: 1rem;
  /*border: 2px solid #ccc;*/
  /* IMPORTANTE */
  text-align: center;
}
a.porte {
  text-align: center;
  display: block;
  width: 240px;
  height: 20px;
  background-color: #ffffff;
  color: #72aeb5;
  font-size: 23px;
  padding: 16px 0 21px 0;
  border: 5px solid #83bec5;
  margin: 50px 0 10px 0;
}
.nameSeller {
  font-weight: bold !important;
  font-size: 30px;
  margin: 0px;
}

.btn-danger-c{
  color: #dc3545;
  background-color: #ffffff !important;
  border-color: #dc3545;
}
.btn-danger-c:hover {
  color: #ffffff;
  background-color: #dc3545 !important;
}
.btn-success-c{
  color: #28a745;
  background-color: #ffffff;
  border-color: #28a745;
}
.btn-success-c:hover{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.link_1 {
  text-decoration: none !important;
}
.card-footer:last-child {
  border-radius: 0 0 -webkit-calc(.35rem - 1px) -webkit-calc(.35rem - 1px);
  border-radius: 0 0 -moz-calc(.35rem - 1px) -moz-calc(.35rem - 1px);
  border-radius: 0 0 calc(.35rem - 1px) calc(.35rem - 1px);
}
.card-footer {
  border-top: 1px solid #EEE;
}
.card-footer {
  padding: 1.5rem;
  border-top: 1px solid rgba(0,0,0,.06);
}
.card, .card-footer, .card-header {
  background-color: #FFF;
}
.table-borderless thead th {
  border-top: 1px solid #E3EBF3 !important;
  border-bottom: 2px solid #E3EBF3 !important;
}
.table-borderless tbody+tbody, .table-borderless td, .table-borderless th, .table-borderless thead th {
  border: 0;
}
.th-table-cart {
  font-size: 15px !important;
  text-transform: uppercase !important;
}
.form-shopping-cart .form-control {
  border: 1px solid #CACFE7 !important;
  color: #3B4781 !important;
  height: 40px;
  max-width: 120px;
}
/*Design point of sale*/
[class*=bs-callout].callout-border-left {
  border-left: 5px solid;
}
[class*=bs-callout].callout-border-right {
  border-right: 5px solid;
}
.bs-callout-primary {
  background-color: #F4F4FD;
  color: #0A0E45;
}
.bs-callout-primary, .bs-callout-primary.callout-transparent {
  display: block;
  border-color: #666EE8!important;
  border-radius: .25rem;
}
.p-1 {
  padding: 1rem!important;
}
.shop-title {
  text-transform: uppercase;
  font-weight: 600;
}
.custom-input{
  max-width: 120px;
  min-height: 40px;
  border: 1px solid #cecece;
  font-weight: bold;
}
.text-bold {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.pink {
  color: #E91E63!important;
}
.green {
  color: #00841A !important;
}



/*dashboard point of sale*/
.card-custom {
  margin-bottom: 20px;
}
.card-custom {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0;
}
.card-body-custom {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.mr-2, .mx-2 {
  margin-right: .5rem!important;
}
.text-orange {
  color: #fb8c00!important;
}
.icon-dashboard{
  font-size: 3rem;
}
.text-muted {
  color: #a1aab2!important;
}
.hours-ul {
    padding: 0;
    margin: 0;
}
.hours-ul li {
    list-style: none;
    line-height: 45px;
    border-bottom: 1px dotted #ccc;
}
.hours-ul li i {
    font-size: 70%;
}
.text-pink {
    color: #f50057;
}
.animation-show-hide{
  transition: all 1s ease-out; /* future, future, please come sooner! */
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}
.profile-img {
    width: 134px;
    height: 134px;
    margin: 0 auto;
    border-radius: 100px;
    padding: 5px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    position: relative;
}
.profile-img img {
    border: solids 5px #fff;
    border-radius: 100px;
    width: 100%;
}
.online {
    background: #00d097;
    width: 23px;
    height: 23px;
    border: solid 4px #fff;
    border-radius: 100px;
    position: absolute;
    right: 0;
    bottom: 18px;
}
.card-custom .card-title {
    position: relative;
    font-weight: 500;
    color: #002661;
}

.font-20 {
    font-size: 20px;
}
.text-center {
    text-align: center!important;
}
.mb-5 {
    margin-bottom: 5px!important;
}
.mt-20 {
    margin-top: 20px!important;
}
.soldCount {
  background: #4fab52;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  color: #fff!important;
  border-radius: 100px;
}
/*Design tabs*/
nav > .nav.nav-tabs {
  border: none;
  color:#000;
  background:#fff;
  border-radius:0;
}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active {
  border: none;
  padding: 18px 25px;
  color:#000;
  background:#fff;
  border-radius:0;
}
nav > div a.nav-item.nav-link.active:after {
  content: "";
  position: relative;
  bottom: -55px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #032471;
}
.tab-content {
  background: #fdfdfd;
  line-height: 25px;
  /*border: 1px solid #ddd;*/
  border-top:5px solid #032471;
  border-bottom:5px solid #032471;
  padding:30px 25px;
}
nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
  border: none;
  background: #032471;
  color:#fff;
  border-radius:0;
  transition:background 0.20s linear;
}
.card .row-bordered > [class^="col-"]::before, .card .row-bordered > [class^="col-"]::after, .card .row-bordered > [class*=" col-"]::before, .card .row-bordered > [class*=" col-"]::after, .card .row-bordered > [class^="col "]::before, .card .row-bordered > [class^="col "]::after, .card .row-bordered > [class*=" col "]::before, .card .row-bordered > [class*=" col "]::after, .card .row-bordered > [class$=" col"]::before, .card .row-bordered > [class$=" col"]::after, .card .row-bordered > [class="col"]::before, .card .row-bordered > [class="col"]::after {
    border-color: rgba(24, 28, 33, 0.06);
}

.row-bordered.row-border-light > .col::before, .row-bordered.row-border-light > .col::after, .row-bordered.row-border-light > [class^="col-"]::before, .row-bordered.row-border-light > [class^="col-"]::after, .row-bordered.row-border-light > [class*=" col-"]::before, .row-bordered.row-border-light > [class*=" col-"]::after, .row-bordered.row-border-light > [class^="col "]::before, .row-bordered.row-border-light > [class^="col "]::after, .row-bordered.row-border-light > [class*=" col "]::before, .row-bordered.row-border-light > [class*=" col "]::after, .row-bordered.row-border-light > [class$=" col"]::before, .row-bordered.row-border-light > [class$=" col"]::after, .row-bordered.row-border-light > [class="col"]::before, .row-bordered.row-border-light > [class="col"]::after {
    border-color: rgba(24, 28, 33, 0.06); */
}
.row-bordered > .col::after, .row-bordered > [class^="col-"]::after, .row-bordered > [class*=" col-"]::after, .row-bordered > [class^="col "]::after, .row-bordered > [class*=" col "]::after, .row-bordered > [class$=" col"]::after, .row-bordered > [class="col"]::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    display: block;
    width: 0;
    border-left: 1px solid rgba(24, 28, 33, 0.06);
}
.bd-example-row .row>.col, .bd-example-row .row>[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: #ffffff;
    border: 1px solid rgba(86,61,124,.2);
}


.table-example .td {
  vertical-align: middle !important;
}
.display-6 {
    font-size: 1.2rem;
}
/*Animation spin*/
.animation-one {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.animation-one.ng-hide {
    opacity: 0;
    transform: scale(0.8);
}
.animate-t.ng-enter, .animate-tr.ng-leave {
  transition: 500ms ease-in all;
  position: relative;
  display: block;
}
.animate-tr.ng-enter.ng-enter-active, .animate-tr.ng-leave {
  left: 0;
}
.animate-tr.ng-leave.ng-leave-active, .animate-tr.ng-enter {
  left: 500px;
}

.dropdown.dropdown-scroll .dropdown-menu {
  max-height: 300px;
  overflow: auto;
  min-width: 320px !important;
}
.dropdown.dropdown-scroll .dropdown-menu li a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 12px;
  transition: all 0.3s ease-out;
  border-bottom: 1px dotted #e6e8ea;
}
.dropdown {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.dropdown .dropdown-toggle {
  min-width: 300px !important;
}
.search-control {
    padding: 5px 10px;
}

li.list.ng-enter {
 opacity: 0.2 ;
 padding-left: 30px ;
 transition: all ease 250ms ;
}
li.list.ng-enter-stagger {
 transition-delay: 0.1s ;
 -webkit-transition-delay: 0.1s ;
 transition-duration: 0s ;
 -webkit-transition-duration: 0s ;
}
li.list.ng-enter-active {
   opacity: 1.0 ;
   padding-left: 0px ;
}
li.list.ng-move,
li.list.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
li.list.ng-leave.ng-leave-active,
li.list.item.ng-move{
  opacity:0;
}
li.list.ng-leave,
li.list.ng-move.ng-move-active{
  opacity:1;
}
