<!--Vista Agregar un nuevo producto https://multiplicame.com/admin/products/add-->
  <div class="row justify-content-center"
    ng-hide="busy">
  <div class="col-sm-offset-2 col-sm-8">
    <h4>Modelo {{ model.id ? model.name : 'Nuevo'}}</h4>
    <form method="post" name="form-product"
      class="form-horizontal"
      autocomplete="off"
      ng-submit="save()">
      <!--Precio-->
      <div class="form-group form-row">
        <label for="name" class="col-sm-2 col-md-3 col-form-label col-form-label-sm text-sm-right">
          Precio
        </label>
        <div class="col-sm-10 col-md-7">
          <input type="text" id="price"
            class="form-control form-control-sm"
            step="0.01" min="1"
            ng-model="model.priceInvoice">
        </div>
      </div><!--/.form-row-->

      <!--Completar operación  Agregar producto o Cancelar-->
      <div class="actions text-right">
        <button type="button" ng-click="$state.go('admin.letterPorte.prices')" class="btn btn-default">{{model.id ? 'Regresar' : 'Cancelar'}}</button>
        <button type="submit" class="btn btn-multiplicame-primary">
          <span ng-hide="busy" class="glyphicon glyphicon-floppy-disk"></span>
          <span ng-show="busy" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
          {{busy ? "En proceso" : model.id ? 'Guardar' : 'Agregar producto'}}
        </button>
      </div>
    </form>
  </div>
</div>
