<div class="row mb-3">
  <!--Filtros-->
  <div class="col-sm-6">
    <h4 class="d-print-none">Hoja de complemento</h4>
  </div>
  <!--Botones-->
  <div class="col-sm-3 text-right">
    <form name="direccionForm1" id="direccion-form1" class="payment-system" ng-submit="generateLetter()">
      <button class="btn btn-primary btn-sm d-print-none" ng-disabled="busy">
        <span class="fas fa-share-square"></span>
        Generar carta porte
      </button>
    </form>
  </div>
  <div class="col-sm-3 text-right">
    <a class="text-center btn btn-success btn-sm d-print-none" ng-show="showGenerateLetter" href="{{urlLetter}}" target="_blank">Imprimir carta porte</a>
  </div>
</div>
</div>
<!--/.row-->
<!--Loading-->
<div class="text-center my-5 py-5" ng-show="busy">
  <h4>
    <span class="fa fa-refresh fa-spin"></span>
    <small>procesando datos...</small>
  </h4>
</div>

<!--App loading-->
<div class="wrapper" ng-show="loading">
  <div class="overlay">
    <div class="spinner-wrapper">
      <div id="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="loading">
          <p class="text-center spinner-message">Generando carta porte!!!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Lista de asignación-->
<div ng-hide="busy">
  <div class="table-responsive-lg">
    <table class="table table-sm table-striped table-bordered">
      <thead class="thead-light">
        <tr>
          <th colspan="6">Reporte de equipos</th>
        </tr>
        <tr>
          <th colspan="3">Ejecutivo: {{assignment.destiny.name}}</th>
          <th colspan="3">Fecha: {{getDateFormat(assignment.received, 'L')}}</th>
        </tr>
        <tr>
          <th colspan="3">Atendido por: {{currentUser.name}} {{currentUser.lastName}}</th>
          <th colspan="3">Número total de equipos: {{assignment.stocks.length}}</th>
        </tr>
        <tr>
          <th scope="col" class="w-25">IMEI</th>
          <th scope="col" class="w-auto">Cliente</th>
          <th scope="col" class="w-25">IMEI</th>
          <th scope="col" class="w-auto">Cliente</th>
          <th scope="col" class="w-25">IMEI</th>
          <th scope="col" class="w-auto">Cliente</th>
        </tr>
      </thead>
      <tbody ng-show="!products.length">
        <tr>
          <td colspan="6" class="text-center">No tiene productos registrados.</td>
        </tr>
      </tbody>
      <tbody ng-repeat="product in products">
        <!--Productos-->
        <tr>
          <td colspan="6" class="pl-3 py-2">
            <span class="double"><b>{{product.name}}</b></span>
            <div class="number text-primary pull-right">{{product.stocks.length}} Pzas.</div>
          </td>
        </tr>
        <!--Equipos-->
        <tr ng-repeat="stock in product.stocks | limitTo: Math.ceil(product.stocks.length / 3)">
          <td><span class="text-center double" ng-bind-html="makeSerial(product.stocks[$index * 3].IMEI)"></span></td>
          <td>&nbsp;</td>
          <td><span class="text-center double" ng-bind-html="makeSerial(product.stocks[$index * 3 + 1].IMEI)"></span></td>
          <td>&nbsp;</td>
          <td><span class="text-center double" ng-bind-html="makeSerial(product.stocks[$index * 3 + 2].IMEI)"></span></td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--/.table-responsive-lg-->
</div>
