<h1 class="page-header">Registro de inventario</h1>
<div class="mb-3" ui-view></div>
<div class="alert alert-primary" role="alert" ng-show="batches.length">
  <h4 class="alert-heading">Estadistica de la captura:</h4>
  <ul>
    <li>Fecha: {{getDateFormat(fecha, 'dddd DD / MMMM / YYYY')}}</li>
    <li>Lotes registrados: {{batches.length}}</li>
    <li>Productos registrados: {{batches.stockCount}}</li>
    <li>Cajas registradas: {{batches.boxCount}}</li>
  </ul>
  <hr>
  <p class="mb-0 text-right">
    ¿Necesitas más <span>espacio</span>? haz clic al botón para
    <a href="#batches" class="btn btn-default btn-sm"
      id="toggleBtn" data-toggle="collapse" role="button"
      aria-expanded="true" aria-controls="batches">
      <span class="fa fa-eye-slash"></span>
      Ocultar lotes
    </a>
  </p>
</div>
<!--Batches-->
<div class="collapse show" id="batches">
  <div class="row card-columns">
    <div class="col-sm-3" ng-repeat="batch in batches">
      <div class="card border-secondary">
        <h5 class="card-header bg-secondary text-white"
          ng-bind-html="setProductName(batch.product.name)"></h5>
        <!--Card Header-->
        <div class="card-body py-2">
          <p class="text-muted mb-0">
            <span class="fa fa-cube"></span>
            productos x caja: <b>{{batch.box.size}}</b><br>
            <span>Registrados:</span>
          </p>
          <h1 class="card-title text-right">{{batch.stockCount}}</h1>
          <p class="text-muted text-right mb-0">
            <span class="fa fa-cubes"></span>
            <span ng-bind-html="setBoxCount(batch.stockCount, batch.box.size)"></span>
          </p>
        </div>
        <!--Card Footer-->
        <div class="card-footer text-right">
          <a ui-sref="admin.entries.imei({batchId: batch.id})">
            Registrar IMEIs
            <span class="fa fa-arrow-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
<script>
  $('#toggleBtn').click(function(e) {
    e.preventDefault();
    var $this = $(this);
    var text = '';
    var $span = $('<span></span>', {
      class: 'fa'
    });
    if (!$this.hasClass('collapsed')) {
      text = ' Mostrar lotes';
      $span.addClass('fa-eye');
    } else {
      text = ' Ocultar lotes';
      $span.addClass('fa-eye-slash');
    }
    $this.text(text).prepend($span);
  });
</script>