<div class="row mb-3">
  <!--Título-->
  <div class="col-sm-9">
    <h4>Bonificar la garantía.</h4>
  </div><!--/.col-sm-9-->
  <div class="col-sm-3 text-right">
    <button type="button" class="btn btn-secondary btn-sm"
      ng-click="$state.go(return.to, return.paramsTo)">
      <span class="fa fa-arrow-left"></span>
      Cancelar
    </button>
  </div>
</div><!--/.row-->
<!--Loading-->
<div class="text-center my-5 py-5"
  ng-show="busy">
  <h4>
    <span class="fa fa-refresh fa-spin"></span>
    <small>procesando datos...</small>
  </h4>
</div>
<!--Contenido de la vista-->
<div ng-hide="busy">
  <!--Alerta--
  <div class="row justify-content-center"
    ng-show="stock && !stock.inTime">
    <div class="col-md-6 alert alert-danger" role="alert">
      <h4 class="alert-heading">¡Atención!</h4>
      <hr>
      <p>La vigencia de garantía para este equipo ha vencido, podrá ingresar el
        equipo para su reparación asumiendo el costo de operación.</p>
    </div>
  </div>-->
  <div class="row mb-3" >
    <!--Tarjeta del producto-->
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header">Datos de la garantía</h5>
        <!--Datos del lote-->
        <div class="card-body">
          <dl class="row mb-0">
            <!--Ticket-->
            <dt class="col-sm-6 text-sm-right">Número de servicio</dt>
            <dd class="col-sm-6">{{guarantee.guideNumber}}</dd>
            <!--Estatus de la garantía-->
            <dt class="col-sm-6 text-sm-right">Proceso actual</dt>
            <dd class="col-sm-6">{{guaranteeStatus(guarantee.status)}}</dd>
            <!--Fecha de compra-->
            <dt class="col-sm-6 text-sm-right">Fecha de recepción</dt>
            <dd class="col-sm-6">{{getDateFormat(guarantee.dateCheckIn, 'L')}}</dd>
            <!--Marca-->
            <dt class="col-sm-6 text-sm-right">Días desde el ingreso</dt>
            <dd class="col-sm-6">{{getDaysFrom(guarantee.dateCheckIn)}}</dd>
          </dl>
        </div>
        <div class="card-footer bg-danger mb-0"
          ng-show="guarantee.hasCost">
          <!--Garantía con costo-->
          <h5 class="text-center text-white">Garantía con costo</h5>
        </div><!--/.card-footer-->
      </div><!--/.card-->
    </div><!--/.col-sm-4-->
    <!--Datos del stock-->
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header mb-0"
          ng-class="stock.refunded ? 'bg-warning text-white' : ''">
          {{stock.refunded ? 'Equipo bonificado' : 'Datos del equipo'}}
        </h5>
        <!--Datos del lote-->
        <div class="card-body">
          <dl class="row mb-0">
            <!--IMEI-->
            <dt class="col-sm-5 text-sm-right"
              ng-if="guarantee.idStock">IMEI</dt>
            <dd class="col-sm-7"
              ng-if="guarantee.idStock">{{stock.IMEI}}</dd>
            <!--Sin IMEI-->
            <dt class="col-sm-5 text-sm-right"
              ng-if="!guarantee.idStock">No. Folio</dt>
            <dd class="col-sm-7"
              ng-if="!guarantee.idStock">{{guarantee.guideNumber}}</dd>
            <!--Marca-->
            <dt class="col-sm-5 text-sm-right">Marca</dt>
            <dd class="col-sm-7">{{product.model.brand.name}}</dd>
            <!--Modelo-->
            <dt class="col-sm-5 text-sm-right">Modelo</dt>
            <dd class="col-sm-7">{{product.model.name}}</dd>
            <!--Color-->
            <dt class="col-sm-5 text-sm-right">Color</dt>
            <dd class="col-sm-7">{{product.color.name}}</dd>
            <!--Estatus del producto-->
            <dt class="col-sm-5 text-sm-right"
              ng-if="guarantee.idStock">
              Estatus actual</dt>
            <dd class="col-sm-7"
              ng-if="guarantee.idStock">
              {{stockStatus(stock.status)}}</dd>
            <!--Fecha de compra-->
            <dt class="col-sm-5 text-sm-right"
              ng-if="guarantee.idStock">
              Fecha de compra</dt>
            <dd class="col-sm-7"
              ng-if="guarantee.idStock">
              {{getDateFormat(stock.date, 'L')}}
              ({{getDaysFrom(stock.date)}})</dd>
          </dl>
        </div><!--/.card-body-->
        <div class="card-footer bg-secondary mb-0"
          ng-show="stock.isRefurb">
          <!--Equipo reacondicionado-->
          <h5 class="text-center text-white">
            Equipo Re-Acondicionado
          </h5>
        </div><!--/.card-footer-->
      </div><!--/.card-->
    </div><!--/.col-sm-4-->
    <!--Tarjeta del producto-->
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header">Datos de la Venta</h5>
        <!--Datos del lote-->
        <div class="card-body" >
          <dl class="row mb-0">
            <!--Almacen-->
            <dt class="col-sm-5 text-sm-right">Almacen</dt>
            <dd class="col-sm-7">{{stock.warehouse.name}}</dd>
            <!--Vededor-->
            <dt class="col-sm-5 text-sm-right">Vendedor</dt>
            <dd class="col-sm-7">{{stock.seller ? stock.seller.name : '/'}}</dd>
            <!--Cliente-->
            <dt class="col-sm-5 text-sm-right">Cliente</dt>
            <dd class="col-sm-7">{{stock.client ? stock.client.name : '/'}}</dd>
            <!--Color-->
            <dt class="col-sm-5 text-sm-right"
              ng-if="guarantee.idStock">Fecha de venta</dt>
            <dd class="col-sm-7"
              ng-if="guarantee.idStock">
              {{getDateFormat(stock.saleDate, 'L')}}
              ({{getDaysFrom(stock.saleDate)}})
            </dd>
          </dl>
        </div><!--/.card-body-->
        <div class="card-footer mb-0"
          ng-class="validateDate(stock.saleDate, 'sale') ? 'bg-warning' : 'bg-info'">
          <!--Equipo nuevo o usado-->
          <h5 class="text-center text-white">
            {{validateDate(stock.saleDate, 'sale') ? 'Equipo Usado' : 'Equipo Nuevo'}}
          </h5>
        </div><!--/.card-footer-->
      </div><!--/.card-->
    </div><!--/.col-md-4-->
  </div><!--/.row-->
  <div class="row my-3">
    <!--Formulario-->
    <div class="col-md-8">
      <h5>Seguimiento a la garantía</h5>
      <form name="formGuarantee" autocomplete="off" class="needs-validation" novalidate
        ng-submit="update()">
        <!--Vendedores-->
        <div class="form-row form-group"
          ng-if="stock.idUser !== guarantee.idSeller">
          <label for="seller" class="col-sm-3 col-form-label col-form-label-sm text-md-right">
            <span>*</span>
            Vendedores:
          </label>
          <div class="col-sm-9">
            <select id="seller" class="form-control form-control-sm" required
              ng-model="inputs.idSeller"
              ng-options="seller.id as (seller.name +'  ' + seller.lastName) for seller in sellers">
              <option value="">Selecciona un vendedor</option>
            </select>
            <div class="invalid-feedback">
              Debe seleccionar un vendedor.
            </div>
          </div>
        </div>
        <!--Clientes-->
        <div class="form-row form-group"
          ng-if="stock.idClient !== guarantee.idClient">
          <label for="client" class="col-sm-3 col-form-label col-form-label-sm text-md-right">
            <span>*</span>
            Clientes:
          </label>
          <div class="col-sm-9">
            <select id="seller" class="form-control form-control-sm" required
              ng-model="inputs.idClient"
              ng-options="client.id as client.name for client in clients">
              <option value="">Selecciona un cliente</option>
            </select>
            <div class="invalid-feedback">
              Debe seleccionar un cliente.
            </div>
          </div>
        </div>
        <!--Precio-->
        <div class="form-row form-group"
          ng-if="!stock.salesPrice">
          <label for="price" class="col-sm-3 col-form-label col-form-label-sm text-md-right">
            <span>*</span>
            Precio de venta:
          </label>
          <div class="col-sm-9">
            <input type="number" id="price" class="form-control form-control-sm" min="0.00" step="0.50" required
              ng-model="inputs.salesPrice">
            <div class="invalid-feedback">
              Debe proporcionar el monto a bonificar.
            </div>
          </div>
        </div>
        <!--Historial-->
        <div class="form-row form-group">
          <label for="warehouse" class="col-sm-3 col-form-label col-form-label-sm text-md-right">
            <span>*</span>
            Ingresos anteriores:
          </label>
          <div class="col-sm-9">
            <input type="text" id="warehouse" class="form-control form-control-sm" readonly
              ng-model="inputs.history">
          </div>
        </div>
        <!--Accesorios-->
        <div class="form-row form-group">
          <label for="warehouse" class="col-sm-3 col-form-label col-form-label-sm text-md-right">
            <span>*</span>
            Accesorios:
          </label>
          <div class="col-sm-9">
            <input type="text" id="warehouse" class="form-control form-control-sm" readonly
              ng-model="inputs.accessories">
          </div>
        </div>
        <!--Tipo de falla-->
        <div class="form-row form-group">
          <label for="warehouse" class="col-sm-3 col-form-label col-form-label-sm text-md-right">
            <span>*</span>
            Fallas registradas:
          </label>
          <div class="col-sm-9">
            <input type="text" id="warehouse" class="form-control form-control-sm" readonly
              ng-model="inputs.failures">
          </div>
        </div>
        <!--Tiene bonificacion-->
        <div class="form-group form-row justify-content-end">
          <div class="custom-control custom-checkbox col-sm-9">
            <input type="checkbox" id="forRefund" class="custom-control-input" required
              ng-model="inputs.forRefund"
              ng-disabled="stock.refunded">
            <label for="forRefund" class="custom-control-label">
              <h3 class="pl-2">Bonificar Garantía</h3> 
            </label>
            <div class="invalid-feedback">
              Debe marcar la casilla de verificación.
            </div>
          </div>
        </div>
        <!--Observaciones-->
        <div class="form-row form-group">
          <label for="seller" class="col-sm-3 col-form-label col-form-label-sm text-md-right">
            <span>*</span>
            Observaciones:
          </label>
          <div class="col-sm-9">
            <textarea id="description" class="form-control" required
              ng-disabled="stock.refunded"
              ng-model="inputs.description"></textarea>
            <div class="invalid-feedback">
              Debe registrar el motivo de la bonificación.
            </div>
          </div>
        </div>
        <!--Botón guardar-->
        <div class="form-group form-row justify-content-end">
          <div class="col-sm-9">
            <button type="submit" class="btn btn-success btn-sm"
              ng-disabled="stock.refunded">
              <span class="fa fa-save"></span>
              Actualizar garantía
            </button>
          </div>
        </div>
      </form>
    </div><!--/.col-md-8-->
    <!--Eventos de la garantía-->
    <div class="col-md-4"  >
      <div class="card mb-3">
        <h5 class="card-header">Historial</h5>
        <div class="card-body">
          <div class="mt-0 mb-3 border-bottom" ng-repeat="log in guarantee.logs">
            <strong>{{guaranteeStatus(log.event)}}:</strong>
            <em><small>{{getDateFormat(log.date, 'LLL')}}</small></em>
            <br/>
            {{log.description}}
          </div>
        </div>
      </div><!--/.card-->
    </div><!--/.col-md-4-->
  </div><!--/.row-->
</div>
<style>
  .custom-control-label::before,
  .custom-control-label::after {
    top: .4rem;
    width: 1.50rem;
    height: 1.50rem;
  }
</style>