<div class="row mb-3 d-print-none">
  <!--Título-->
  <div class="col-sm-6">
    <h4>{{guarantee.status === 're-assignment' ? 'Reasignación de garantía' : 'Reimpresión de acuse'}}.</h4>
  </div><!--/.col-sm-9-->
  <div class="col-sm-6 text-right">
    <button type="button" class="btn btn-sm btn-dark" onclick="imprimir()">
      <span class="fas fa-print"></span>
      Imprimir
    </button>
  </div>
</div><!--/.row-->
<!--Formulario-->
<div class="row justify-content-center" ng-hide="guarantee.id">
  <div class="col-md-8">
    <form class="form-inline justify-content-center" autocomplete="off"
      ng-submit="search()">
      <!--Select tipo-->
      <div class="form-group mb-2 mr-2">
        <label for="staticEmail2" class="col-form-label mr-2">
          Tipo:
        </label>
        <select class="form-control"
          ng-model="input.type">
          <option value="imei">Serie o IMEI</option>
          <option value="ticket">Número de garantía</option>
        </select>
      </div>
      <!--Caja de texto-->
      <div class="form-group mb-2 ml-2">
        <label class="col-form-label mr-2">
          Buscar:
        </label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="0000000000000000"
            autofocus
            ng-model="input.serie">
          <div class="input-group-append">
            <button type="submit" class="btn btn-outline-primary">
              <span class="fa fa-search"></span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!--Alerta-->
<div class="row justify-content-center" ng-show="guarantee.id">
  <div class="col-md-8 alert" role="alert"
    ng-class="guarantee.status !== 'canceled' ? 'alert-info' : 'alert-danger'">
    <h4 class="alert-heading">Acuse de entrega de garantía</h4>
    <hr>
    <p> El presente documento es para garantizar que, <b>la garantía registrada con el número <b>{{guarantee.guideNumber}}</b>,
      es entregada en tiempo y forma de acuerdo al proceso de garantías.</p>
    <p>Datos de la garantía:</p>
    <ul>
      <li>Almacén: <b>{{guarantee.warehouse.name}}</b></li>
      <li ng-show="guarantee.idClient">Cliente: <b>{{guarantee.client.name}}</b></li>
      <li>Producto: <b>{{guarantee.idStock !== null ? guarantee.stock.product.name : guarantee.failures[0].product.name}}</b></li>
      <li ng-show="guarantee.idStock">Número de serie: <b>{{guarantee.stock.IMEI}}</b></li>
      <li>Fecha de captura: <b>{{getDateFormat(guarantee.created, 'L')}}</b></li>
      <li ng-show="guarantee.hasCost"><b>Reparación con costo</b> {{guarantee.cost | currency}}</li>
      <li>Fallas reportadas:
        <ul>
          <li ng-repeat="item in guarantee.failures">
            <b>{{item.failure.name}}</b></li>
        </ul>
      </li>
      <li>Accesorios reportados:
        <ul>
          <li ng-repeat="item in guarantee.accessories">
            <b>{{item.accessory.name}}</b></li>
        </ul>
      </li>
      <li>Estado actual: <b>{{guaranteeStatus(guarantee.status)}}</b></li>
      <li>Observaciones:<br/><b>{{guarantee.logs[guarantee.logs.length -1].description}}</b></li>
    </ul>
    <p class="text-justify my-5">
      <em>Aviso: Al presente documento se debera sacar una fotocopia para devolverla al gerente de venta para su confirmacion de entrega del equipo con todos los accesorios.</em>
    </p>
    <div class="row my-5 pt-5 justify-content-center">
      <div class="col-md-4 text-center border-top border-dark">
        <small>Nombre y firma del cliente</small>
      </div>
    </div>
  </div>
</div>
