<div class="row mb-3">
  <!--Filtros-->
  <div class="col-sm-6">
    <h4>{{header}} registrad{{class === 'company' ? 'a' : 'o'}}s</h4>
  </div>
  <!--Botones-->
  <div class="col-sm-6 text-right">
    <button type="button" class="btn btn-primary btn-sm"
      ng-click="add()">
      <span class="fa fa-plus"></span>
      Registrar {{singular}}
    </button>
  </div>
</div><!--/.row-->
<!--Tabla de proveedores-->
<div class="table-responsive-md">
  <table class="table table-sm table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Razón social</th>
        <th scope="col">R.F.C.</th>
        <th scope="col">Tipo de persona</th>
        <th scope="col">Dirección fiscal</th>
        <th scope="col">Teléfono</th>
        <th scope="col">E-mail</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-hide="billings.length">
        <td colspan="8" class="text-center">
          No se encontraron {{header | lowercase}}.
        </td>
      </tr>
      <tr ng-repeat="billing in billings">
        <th scope="row" class="text-right">{{$index + 1}}</th>
        <td>{{billing.name}}</td>
        <td class="text-center">{{billing.rfc}}</td>
        <td class="text-center">{{billing.type}}</td>
        <td ng-bind-html="makeAddress(billing)"></td>
        <td>{{billing.phoneNumber | mxPhone}}</td>
        <td>{{billing.email}}</td>
        <td class="text-center text-nowrap">
          <button type="button" class="btn btn-primary btn-sm"
            ng-click="edit(billing)">
            <span class="fas fa-pencil-alt"></span>
          </button>
          <button type="button"class="btn btn-danger btn-sm"
            ng-click="delete(billing)">
            <span class="far fa-trash-alt"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>