<div class=" justify-content-center " >
  <div class="row justify-content-center " >
    <div class="col-md-10 col-lg-6">
      <div class="card">
        <div class="modhedfutt card-header px-3 text-left" style="color: #fff; font-weight: bold; "> Confirmación
        </div><!--card-header-->
          <div class=" well card-body p-3">

            <form name="formLogin" autocomplete="off"
              class="needs-validation" novalidate
              ng-submit="login()">

              <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">IMEI</label>
                <div class="col-sm-6">
                  <textarea
                    id="imei"
                    type="text"
                    autocomplete="off"
                    ng-model="input.serie"
                    class="form-control"
                    autofocus
                    placeholder="00000088000000&#10;88888800888888"
                    ng-model-options="{ debounce: 200 }">
                  </textarea>
                </div>
              </div>

              <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label">Correo electrónico</label>
                <div class="col-sm-6">
                <input type="email" id="email" class="form-control form-control-sm" tabindex="2"
                  required
                  autocomplete="off"
                  ng-model="userAdmin.email">
                <div class="invalid-feedback">
                  Debe escribir su correo electrónico.
                </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="password" class="col-sm-4 col-form-label">Contraseña</label>
                <div class="col-sm-6">
                  <input type="password" id="password" class="form-control form-control-sm" tabindex="3"
                    required
                    autocomplete="off"
                    ng-model="userAdmin.password">
                  <div class="invalid-feedback">
                    Debe escribir la contraseña.
                  </div>
                </div>
              </div>


              <div class="form-group form-row justify-content-end">
                <div class="col-sm-9 col-md-9">
                  <button type="submit" class="btn btn-success btn-sm pull-right">
                    Aceptar
                    <span class="fa fa-arrow-right"></span>
                  </button>
                </div>
              </div>

          </form>


          </div><!--/.card-body-->
        </div><!--card-->
      </div><!--col-->
  </div><!--/.row-->
</div>
