<div class="row">
  <div class="col-12">
    <div class="card-custom">
      <div class="card-body-custom">
        <div class="row mb-0">
          <!-- Ventas del día -->
          <div class="col-lg-3 col-md-6">
            <a ng-click="boxCutView = !boxCutView" class="d-flex align-items-center">
              <div class="mr-2">
                <span class="text-primary display-5">
                  <i class="fas fa-dollar-sign icon-dashboard"></i>
                </span>
              </div>
              <div><span class="text-muted">Ventas del día</span>
                <h2 class="font-medium text-info">{{totalSaleToday | currency}}</h2>
              </div>
            </a>
          </div>
          <!-- Pagos pendientes -->
          <div class="col-lg-3 col-md-6">
            <a ng-click="pendingPaymentView = !pendingPaymentView" class="d-flex align-items-center">
              <div class="mr-2">
                <span class="text-cyan display-5 noprint">
                  <i class="fas fa-file-invoice-dollar icon-dashboard"></i>
                </span>
              </div>
              <div><span class="text-muted">Pagos pendientes</span>
                <h2 class="font-medium text-info">{{amountPendingPayment | currency }}</h2>
              </div>
            </a>
          </div>
          <!-- Garantías -->
          <div class="col-lg-3 col-md-6">
            <a ng-click="stockView = !stockView" class="d-flex align-items-center">
              <div class="mr-2">
                <span class="text-orange display-5">
                  <i class="far fa-thumbs-down icon-dashboard"></i>
                </span>
              </div>
              <div><span class="text-muted">Garantías</span>
                <h2 class="font-medium text-info">{{event.length}}</h2>
              </div>
            </a>
          </div>
          <!-- Ordenes generadas -->
          <div class="col-lg-3 col-md-6">
            <div class="d-flex align-items-center">
              <div class="mr-2">
                <span class="text-info display-5">
                  <i class="fas fa-shopping-cart icon-dashboard"></i>
                </span>
              </div>
              <div><span class="text-muted">Ordenes generadas</span>
                <h2 class="font-medium text-info">{{listOrders.length}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" ng-hide="soldView || stockView || boxCutView || pendingPaymentView">
  <div class="col-lg-12 ">
    <nav>
      <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active"
           id="nav-sale"
           data-toggle="tab"
           data-target="#nav-sale-tab"
           role="tab"
           aria-selected="true">CORTE DE VENTA</a>
        <a class="nav-item nav-link"
           id="nav-reconciliation"
           data-toggle="tab"
           data-target="#nav-reconciliation-tab"
           role="tab"
           aria-selected="false">VENTAS DEL DÍA</a>
        <a class="nav-item nav-link"
           id="nav-balance-sheet"
           data-toggle="tab"
           data-target="#nav-balance-tab"
           role="tab"
           aria-selected="false">BALANCE GENERAL</a>
      </div>
    </nav>
    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-sale-tab" role="tabpanel" aria-labelledby="nav-sale-tab">

        <!-- ============================================================== -->
        <!-- Formato de conciliación -->
        <!-- ============================================================== -->
        <div class="row" style="padding-top:10px;">
          <div class="col-md-12">
            <div class="card-custom">
              <div class="card-body">
                <!--<h4 class="card-title">FORMATO DE CONCILIACIÓN</h4>-->
                <div class="d-flex justify-content-end bd-highlight">
                  <div class="p-2 bd-highlight">
                    <select  class="place form-control" id="idSeller" ng-model="seller.idSeller"
                      ng-options="seller.id  as seller.name +'  ' + seller.lastName for seller in mysellers">
                    </select>
                  </div>
                </div>


                <!--<table class="display nowrap dataTable dtr-inline collapsed" style="width:100%"
                    datatable="ng"
                    dt-options="vm.dtOptions"
                    dt-instance="vm.dtInstance"
                    dt-column-defs="vm.dtColumnDefs">
                    <thead>
                      <tr>
                        <th>EJECUTIVO</th>
                        <th>CUENTA</th>
                        <th>DEUDA INICIAL</th>
                        <th>MODELO</th>
                        <th>CANT.</th>
                        <th>PRECIO</th>
                        <th>TOTAL</th>
                        <th class="text-success">EFECTIVO</th>
                        <th class="text-danger">CRÉDITO</th>
                        <th class="text-primary">DEPOSITO</th>
                        <th class="text-info">CHEQUE</th>
                        <th>MONTO PAGADO</th>
                        <th>MONTO PENDIENTE</th>
                        <th>DEUDA FINAL</th>
                        <th>FECHA</th>
                      </tr>
                    </thead>
                      <tbody ng-repeat="x in formatConciliation">
                        <tr ng-repeat="item in x.products">
                          <td><span>{{item.nameSeller}}</span></td>
                          <td><span>{{item.nameSeller}}</span></td>
                          <td><span>{{item.nameSeller}}</span></td>
                          <td><span>{{item.nameSeller}}</span></td>
                          <td><span>{{item.nameSeller}}</span></td>
                          <td><span>{{item.nameSeller}}</span></td>
                          <td><span>{{item.nameSeller}}</span></td>
                          <td><span>{{item.nameSeller}}</span></td>
                          <td><span>{{item.nameSeller}}</span></td>
                          <td><span>{{item.nameSeller}}</span></td>
                          <td><span>{{item.nameSeller}}</span></td>
                          <td><span>{{item.nameSeller}}</span></td>
                          <td><span>{{item.nameSeller}}</span></td>
                          <td><span>{{item.nameSeller}}</span></td>
                          <td><span>{{item.nameSeller}}</span></td>
                        </tr>
                    </tbody>
                  </table>-->

                <div class="table-responsive">
                  <table  class="table-example table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>EJECUTIVO</th>
                        <th>CUENTA</th>
                        <th>DEUDA INICIAL</th>
                        <th>MODELO</th>
                        <th>CANT.</th>
                        <th>PRECIO</th>
                        <th>TOTAL</th>
                        <th class="text-success">EFECTIVO</th>
                        <th class="text-danger">CRÉDITO</th>
                        <th class="text-primary">DEPOSITO</th>
                        <th class="text-info">CHEQUE</th>
                        <th>MONTO PAGADO</th>
                        <th>MONTO PENDIENTE</th>
                        <!--<th>FECHA</th>-->
                        <th>DEUDA FINAL</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="x in formatConciliation">
                      <tr>
                        <td rowspan="{{x.products.length}}" class="td"><span>{{ x.nameSeller }}</span></td>
                        <td rowspan="{{x.products.length}}" class="td"><span>{{ x.nameClient }}</span></td>
                        <td rowspan="{{x.products.length}}" class="td"><span>{{x.previousDebt | currency}}</span></td>
                        <td class="td"><span>{{x.products[0].model}}</span></td>
                        <td class="text-center td"><span>{{x.products[0].quantity}}</span></td>
                        <td class="td"><span>{{x.products[0].cost | currency}}</span></td>
                        <td class="td"><span>{{x.products[0].total | currency}}</span></td>
                        <td class="td"><span>{{x.products[0].typePayment.cash | currency}}</span></td>
                        <td class="td"><span>{{x.products[0].typePayment.credit | currency}}</span></td>
                        <td class="td"><span>{{x.products[0].typePayment.deposit | currency}}</span></td>
                        <td class="td"><span>{{x.products[0].typePayment.check | currency}}</span></td>
                        <td class="td"><span>{{x.products[0].amountPaid | currency}}</span></td>
                        <td class="td"><span>{{x.products[0].amountPending | currency}}</span></td>
                        <!--<td><span>{{x.products[0].date}}</span></td>-->
                        <td rowspan="{{x.products.length}}" class="td"><span>{{x.currentDebt | currency}}</span></td>
                      </tr>
                      <tr ng-repeat="item in x.products" ng-if="$index > 0">
                        <td class="td"><span>{{item.model}}</span></td>
                        <td class="text-center td"><span>{{item.quantity}}</span></td>
                        <td class="td"><span>{{item.cost | currency}}</span></td>
                        <td class="td"><span>{{item.total | currency}}</span></td>
                        <td class="td"><span>{{item.typePayment.cash | currency}}</span></td>
                        <td class="td"><span>{{item.typePayment.credit | currency}}</span></td>
                        <td class="td"><span>{{item.typePayment.deposit | currency}}</span></td>
                        <td class="td"><span>{{item.typePayment.check | currency}}</span></td>
                        <td class="td"><span>{{item.amountPaid | currency}}</span></td>
                        <td class="td"><span>{{item.amountPending | currency}}</span></td>
                        <!--<td><span>{{item.date}}</span></td>-->
                      </tr>
                      <tr ng-if="$index < 0">
                        <td rowspan="{{x.products.length}}" class="td"><span>{{ x.currentDebt | currency}}</span></td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="7" class="text-right display-6">Total: </td>
                        <td><span class="text-success display-6">{{totalCash | currency}}</span></td>
                        <td><span class="text-danger display-6">{{totalCredit | currency}}</span></td>
                        <td><span class="text-primary display-6">{{totalDeposit | currency}}</span></td>
                        <td><span class="text-info display-6">{{totalCheck | currency}}</span></td>
                        <td><span class="display-6">{{amountPayment | currency}}</span></td>
                        <td><span class="display-6">{{amountPending | currency}}</span></td>
                        <td></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="tab-pane fade" id="nav-reconciliation-tab" role="tabpanel" aria-labelledby="nav-reconciliation-tab">

        <!-- ============================================================== -->
        <!-- Today sale -->
        <!-- ============================================================== -->
        <div class="row animation-show-hide" style="padding-top:10px;">
          <div class="col-md-12">
            <div class="card-custom">
              <div class="card-body">
                <!--<h4 class="card-title">VENTAS DEL DÍA</h4>-->
                <div class="bootstrap-table">
                  <table class="table table-striped table-bordered"
                      datatable="ng"
                      dt-options="vm.dtOptions"
                      dt-instance="vm.dtInstance"
                      style="width:100%"
                      dt-column-defs="vm.dtColumnDefs">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>ORDEN</th>
                        <th>VENDEDOR</th>
                        <th>CLIENTE</th>
                        <th>FECHA</th>
                        <th>TOTAL</th>
                        <th class="text-center">TIPO</th>
                        <!--<th class="text-center">TIPO PAGO</th>-->
                        <th class="text-center">ESTATUS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="itemSale in listOrders">
                        <td class="text-center"><strong>{{$index+1}}</strong></td>
                        <td><a ng-click="searchOrder(itemSale.id)" class="text-primary"><strong>{{itemSale.orderNumber}}</strong></a></td>
                        <td style="">{{itemSale.seller}}</td>
                        <td style="">{{itemSale.client}}</td>
                        <td style="">{{itemSale.date}} </td>
                        <td style="">{{itemSale.total | currency}}</td>
                        <td class="text-center">{{typeSale(itemSale.type)}}</td>
                        <!--<td class="text-center"><i class="fas" ng-class="(itemSale.typePayment === 'credit') ? 'fa-credit-card' : 'fa-exchange-alt'"></i> {{typePayment(itemSale.typePayment)}}</td>-->
                        <td class="text-center"><strong ng-class="(itemSale.status === 'pending') ? 'text-danger' : 'text-success'">{{statusPayment(itemSale.status)}}</strong></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="tab-pane fade" id="nav-balance-tab" role="tabpanel" aria-labelledby="nav-balance-tab">

        <!-- ============================================================== -->
        <!-- Balance general -->
        <!-- ============================================================== -->
        <div class="row" style="padding-top:10px;">
          <div class="col-md-12">
            <div class="card-custom">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <!--Select tipo date-->
                  <div class="bd-highlight">
                    <div class="col-auto">
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><span class="fa fa-calendar"></span></div>
                        </div>
                        <input type="text" id="datepicker" class="form-control form-control-lg"
                          placeholder="mm/dd/aaaa" aria-label="Fecha de compra"
                          ng-model="formFilters.date">
                      </div>
                    </div>
                  </div>
                  <div class="bd-highlight">
                    <!-- Gran total -->
                    <div class="d-flex align-items-center">
                      <div class="mr-2">
                        <span class="text-primary display-5">
                          <i class="fas fa-dollar-sign icon-dashboard"></i>
                        </span>
                      </div>
                      <div><span class="text-muted">Gran total</span>
                        <h2 class="font-medium text-info">{{totalSaleToday | currency}}</h2>
                      </div>
                    </div>
                  </div>
                </div>

                <!--<h4 class="card-title">BALANCE GENERAL</h4>-->
                <div class="bootstrap-table">
                  <div class="fixed-table-toolbar"></div>
                  <div class="fixed-table-container" style="padding-bottom: 0px;">
                    <div class="fixed-table-body">
                      <div class="fixed-table-loading" style="top: 42px;"></div>
                      <table id="subtable" class="table table-hover">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>EJECUTIVO</th>
                            <th class="text-center">TOTAL EQUIPOS</th>
                            <th>CONTADO</th>
                            <th>TOTAL</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-hide="processBalanceSheet.length">
                            <td colspan="5" class="text-center">
                              No hay ventas realizadas
                            </td>
                          </tr>
                          <tr ng-repeat="itemSale in processBalanceSheet">
                            <td class="text-center"><strong>{{$index+1}}</strong></td>
                            <td><strong class="text-primary">{{itemSale.nameSeller}}</strong></td>
                            <td class="text-center">{{itemSale.totalEquipment}}</td>
                            <td style="">{{itemSale.cash | currency}}</td>
                            <td style="">{{itemSale.total | currency}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="fixed-table-footer" style="display: none;">
                      <table>
                        <tbody>
                          <tr></tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="fixed-table-pagination" style="display: none;"></div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <!--Paginación-->
        <div ng-include="'views/common/pagination.html'"></div>
      </div>

    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Pending payment -->
<!-- ============================================================== -->
<div class="row animation-show-hide" ng-show="pendingPaymentView">
  <div class="col-md-12">
    <div class="card-custom">
      <div class="card-body">
        <h4 class="card-title">PAGOS PENDIENTES</h4>
        <div class="bootstrap-table">
          <div class="fixed-table-toolbar"></div>
          <div class="fixed-table-container" style="padding-bottom: 0px;">
            <div class="fixed-table-body">
              <div class="fixed-table-loading" style="top: 42px;"></div>
              <table id="subtable" class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>ORDEN</th>
                    <th>CLIENTE</th>
                    <th>FECHA</th>
                    <th>TOTAL</th>
                    <!--<th class="text-center">TIPO</th>-->
                    <th class="text-center">TIPO PAGO</th>
                    <th class="text-center">ESTATUS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-hide="listPendingPayment.length">
                    <td colspan="8" class="text-center">
                      No hay pagos pendientes
                    </td>
                  </tr>
                  <tr ng-repeat="itemSale in listPendingPayment">
                    <td class="text-center"><strong>{{$index+1}}</strong></td>
                    <td><strong class="text-primary">{{itemSale.orderNumber}}</strong></td>
                    <td style="">{{itemSale.client}}</td>
                    <td style="">{{itemSale.date}} </td>
                    <td style="">{{itemSale.total | currency}}</td>
                    <!--<td class="text-center">{{typeSale(itemSale.type)}}</td>-->
                    <td class="text-center"><i class="fas" ng-class="(itemSale.typePayment === 'check') ? 'fa-credit-card' : 'fa-exchange-alt'"></i> {{typePayment(itemSale.typePayment)}}</td>
                    <td class="text-center"><strong ng-class="(itemSale.status === 'pending') ? 'text-danger' : 'text-success'">{{statusPayment(itemSale.status)}}</strong></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="fixed-table-footer" style="display: none;">
              <table>
                <tbody>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="fixed-table-pagination" style="display: none;"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>




<!--semaforo de garantías-->
<div class="mt-3" ng-show="stockView">
  <div class="table-responsive-lg">
    <div class="card-custom">
      <div class="card-body">
        <h4 class="card-title">GARANTÍAS INGRESADAS</h4>

    <table class="table table-sm table-striped">
      <thead class="table table-hover">
        <tr>
          <th>Ticket</th>
          <th>Modelo</th>
          <th>Vendedor</th>
          <th>Cliente</th>
          <th>Ingreso Pre-almacen</th>
          <th>Ingreso Almacen</th>
          <th>Ingreso Proveedor</th>
          <th>Re-ingreso Almacen</th>
          <th>Re-Asignacion</th>
          <th>Entrega al Cliente</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <tr ng-hide="event.length">
          <td colspan="11" class="text-center">
            No se encontraron garantías
          </td>
        </tr>
        <tr ng-repeat="guarantee in event ">
          <td scope="row" class="text-center">
            {{guarantee.ticket}}
          </td>
          <td>{{guarantee.model}}</td>
          <td class="text-center">
            {{guarantee.seller }}
          </td>
          <td class="text-center">
            {{guarantee.client}}
          </td>
          <td class="text-center" ng-hide="guarantee.entry">
            <span class="fas" ng-show="guarantee.checkIn" ng-class="validateDate(guarantee.updated, 'check-in')  === true ?  'fa-circle text-danger' : 'fa-circle text-success' "></span>
            {{getDateFormat(guarantee.checkIn, 'l')}} <br>
            <span ng-show="guarantee.checkIn">({{getDaysFrom(guarantee.updated)}})</span>
          </td>
          <td class="text-center" ng-show="guarantee.entry">
            <span class="fas" ng-class="validateTimeStatus(guarantee.checkIn, guarantee.entry) === true ? 'fa-circle text-danger' : 'fa-circle text-success'  "></span>
            {{getDateFormat(guarantee.checkIn, 'l')}} <br>
            <span class="fas">( {{diff}})</span>
          </td>
          <td class="text-center" ng-hide="guarantee.departure">
            <span class="fas" ng-show="guarantee.entry" ng-class="validateDate(guarantee.updated, 'entry') === true ?  'fa-circle text-danger' : 'fa-circle text-success' "></span>
            {{getDateFormat(guarantee.entry, 'l')}}<br>
            <span ng-show="guarantee.entry">({{getDaysFrom(guarantee.updated)}})</span>
          </td>
          <td ng-show="guarantee.departure" class="text-center">
            <span class="fas" ng-placeholder="diff" ng-class="validateTimeStatus(guarantee.entry, guarantee.departure) === true ? 'fa-circle text-danger' : 'fa-circle text-success'  "></span>
            {{getDateFormat(guarantee.entry, 'l')}}<br>
            <span class="fas">( {{diff}})</span>
          </td>

          <td class="text-center" ng-hide="guarantee.reEntry">
            <span class="fas" ng-show="guarantee.departure" ng-class="validateDate(guarantee.updated, 'departure') === true ?  'fa-circle text-danger' : 'fa-circle text-success' "></span>
            {{getDateFormat(guarantee.departure, 'l')}}<br>
            <span ng-show="guarantee.departure">({{getDaysFrom(guarantee.updated)}})</span>
          </td>
          <td ng-show="guarantee.reEntry" class="text-center">
            <span class="fas" ng-class="validateTimeStatus(guarantee.departure, guarantee.reEntry) === false ? 'fa-circle text-danger' : 'fa-circle text-success'  "></span>
            {{getDateFormat(guarantee.departure, 'l')}}<br>
            <span class="fas">({{diff}})</span>
          </td>
          <td class="text-center" ng-hide=" guarantee.reAssignment">
            <span class="fas" ng-show="guarantee.reEntry" ng-class="validateDate(guarantee.reEntry, guarantee.reAssignment) === true ?  'fa-circle text-danger' : 'fa-circle text-success' "></span>
            {{getDateFormat(guarantee.reEntry,'l')}}<br>
            <span ng-show="guarantee.reEntry">({{getDaysFrom(guarantee.updated)}})</span>
          </td>
          <td class="text-center" ng-show="guarantee.reAssignment">
            <span class="fas" ng-class="validateTimeStatus(guarantee.reEntry, guarantee.reAssignment) === true ? 'fa-circle text-danger' : 'fa-circle text-success'   "></span>
            {{getDateFormat(guarantee.reEntry,'l')}}<br>
            <span class="fas">({{diff}})</span>
          </td>
          <td class="text-center" ng-hide="guarantee.refund">
            <span class="fas" ng-show="guarantee.reAssignment" ng-class="validateDate(guarantee.updated, 're-assignment') === true ?  'fa-circle text-danger' : 'fa-circle text-success' "></span>
            {{getDateFormat(guarantee.reAssignment, 'l')}}<br>
            <span ng-show="guarantee.reAssignment ">({{getDaysFrom(guarantee.updated)}})</span>
          </td>
          <td class="text-center" ng-show="guarantee.refund">
            <span class="fas" ng-class="validateTimeStatus(guarantee.reAssignment, guarantee.refund) === false ? 'fa-circle text-danger' : 'fa-circle text-success'  "></span>
            {{getDateFormat(guarantee.reAssignment, 'l')}}<br>
            <span>({{diff}})</span>
          </td>
          <td class="text-center">
            <span class="fas" ng-show="guarantee.refund" ng-class="validateDate(guarantee.updated, 'refund') === true ?  'fa-circle text-danger' : 'fa-circle text-success' "></span>
            {{getDateFormat(guarantee.refund, 'l')}}<br>
            <span ng-show="guarantee.refund  ">({{getDaysFrom(guarantee.updated)}})</span>
          </td>
        </tr>
      </tbody>
    </table>

    </div>
  </div>
  </div>
  <!--Paginación-->
  <div ng-include="'views/common/pagination.html'"></div>
</div>



<!--Script del datepicker-->
<script>
  $(function() {
    $("#datepicker").datepicker({
      dateFormat: 'dd/mm/yy'});
  });
</script>
