<div class="row mb-3">
  <!--Título-->
  <div class="col-sm-12">
    <h4>Pagos registrados.</h4>
  </div><!--/.col-sm-12-->
</div><!--/.row-->
<!--Loading-->
<div class="text-center my-5 py-5"
  ng-show="busy">
  <h4>
    <span class="fa fa-refresh fa-spin"></span>
    <small>procesando datos...</small>
  </h4>
</div>
<!--Formularios-->
<div ng-hide="busy">
  <!--Filtros-->
  <div class="row mb-2">
    <div class="col">
      <form class="form-inline" autocomplete="off">
        <!--Select-->
        <div class="form-group">
          <label class="col-form-label">
            Filtrar por estado:
          </label>
          <select class="form-control form-control-sm mx-3"
            ng-model="formFilters.status"
            ng-options="item.tag as item.label for item in paymentStatus">
          </select>
        </div><!--/.form-group-->
      </form>
    </div><!--/.col-->
  </div>
  <form>
    <!--Lista de abonos-->
    <div class="table-responsive-lg">
      <table class="table table-sm table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">Orden</th>
            <th scope="col">Fecha</th>
            <th scope="col">Vendedor</th>
            <th scope="col">Cliente</th>
            <th scope="col">Tipo</th>
            <th scope="col">Monto</th>
            <th scope="col">Referencía</th>
            <th scope="col">Estado</th>
            <th scope="col" ng-show="formFilters.status === 'pending'">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-hide="payments.length">
            <td colspan="9" class="text-center">
              No se encontraron pagos pendientes
            </td>
          </tr>
          <tr ng-repeat="payment in payments">
            <td class="text-center" scope="row">
              {{payment.order.orderNumber}}
            </td>
            <td class="text-center">
              {{getDateFormat(payment.date, 'L')}}
            </td>
            <td class="text-center">
              {{payment.seller.name + ' ' + payment.seller.lastName}}
            </td>
            <td class="text-center">
              {{payment.client.name}}
            </td>
            <td class="text-center">
              {{getPaymentType(payment.type)}}
            </td>
            <td class="text-right">
              {{payment.amount | currency}}
            </td>
            <td class="text-center" style="width: 150px;">
              <div class="input-group input-group-sm mx-2">
                <input type="text" class="form-control" aria-label="Recipient's username"
                  ng-disabled="payment.disable"
                  ng-model="payment.transactionId">
                <div class="input-group-append">
                  <button type="button" class="btn btn-sm"
                    ng-class="payment.disable ? 'btn-outline-primary' : 'btn-outline-success'"
                    ng-click="toggleInput(payment)">
                    <span class="fa"
                      ng-class="payment.disable ? 'fa-pencil-alt' : 'fa-save'"></span>
                  </button>
                </div>
              </div>
            </td>
            <td class="text-center">
              {{getPaymentStatus(payment.status)}}
            </td>
            <td class="text-center text-nowrap" ng-show="payment.status === 'pending'">
              <button class="btn btn-success btn-sm"
                ng-disabled="!payment.transactionId"
                ng-click="acceptPayment(payment)">
                <span class="fas fa-check"></span>
              </button>
              <button class="btn btn-danger btn-sm"
                ng-click="cancelPayment(payment)">
                <span class="fas fa-close"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!--/.table-responsive-lg-->
  </form>
  <!--Paginación-->
  <div ng-include="'views/common/pagination.html'"></div>
</div>