<div class="row" style="margin-top:30px;">
    <div class="panel panel-default">
        <div class="col-lg-12">
        <div class="  panel-heading collapsed pointer" data-toggle="collapse" data-target="#collapse4">
          <h2 class="panel-title">Control Garantías <span class="	fa fa-certificate"></span></h2>
        </div>
      </div>
    </div>
  <div class="col-md-12">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs customtab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active show" data-toggle="tab" href="#sale" role="tab" aria-selected="true">
            <span class="hidden-sm-up"><i class="fa fa-money icon-lg"></i></span>
            <span class="hidden-xs-down">Garantías</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile2" role="tab" aria-selected="false">
            <span class="hidden-sm-up"><i class="fa fa-calendar-o"></i></span>
            <span class="hidden-xs-down">Acuse de Entrega</span>
          </a>
        </li>
      
      </ul>
      <!-- Tab panes -->
      <div class="tab-content"> 
        <div class="tab-pane active show" id="sale" role="tabpanel">
          <div class="p-20">
            <div class="table-responsive " style="overflow:scroll; height:480px;width:100%;">
              <table class="tableG table  table-striped table-bordered" >
                <thead class="thead-light">
                  <tr>
                    <th class="thead-one">Folio</th>
                    <th  class="thead-one">Imei</th>
                    <th  class="thead-one">Modelo</th>
                    <th  class="thead-one">Fecha de Compra</th>
                    <th  class="thead-one">Fecha de Garantía</th>
                    <th  class="thead-one">Almacén</th>
                    <th  class="thead-one">Estado de Equipo</th>
                    <th  class="thead-one">Fecha de entrega</th>
                    <th  class="thead-one">Fecha Recibido</th>
                    <th  class="thead-one">Diagnóstico</th>
                    <th  class="thead-one">Costo Proveedor</th>
                    <th  class="thead-one">Costo Venta</th>
                    <th  class="thead-one">Imei Nuevo</th>
                    <th  class="thead-one">Imei 2</th>
                    <th  class="thead-one">Modelo</th>
                    <th  class="thead-one">Estatus</th>
                    <th  class="thead-one">Fecha Estatus</th>
                    <th  class="thead-one">Resive</th>
                    <th  class="thead-one">Observaciones</th>
                    <th  class="thead-one">Estatus de Vendedor</th>
                    <th  class="thead-one">Observacion 2</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td><a href="javascript:void(0)" class="link"> 22093</a></td>
                    <td>355001000685205</td>
                    <td>W&O MAX3 NEGRO</td>
                    <td>9/26/2017</td>
                    <td>1/2/2018</td>
                    <td>TOLUCA</td>
                    <td contenteditable='true' value="&quot">S/VALIDAR</td>
                    <td contenteditable='true'value="&quot" ></td>
                    <td contenteditable='true'value="&quot"></td>
                    <td contenteditable='true'value="&quot">
                            <select class="form-control" style="border:none; background:#eff0f1; " id="sel1" name="sellist1">
                                    <option>Cambio Fisico</option>
                                    <option>Devolucion a Proveedor</option>
                                    <option>Equipo de Línea AT&T</option>
                                    <option>Reparción con Costo</option>
                                    <option>Fuera de Garantía</option>
                                    <option>P/Acondicionar</option>
                                    <option>P/Reacondicionar con Costo</option>
                                    <option>Reparado mismo IMEI</option>
                                    <option>Reparado nuevo IMEI	</option>
                                    <option>Sin Reparar	</option>
                                    <option>Sin Respuesta del Proveedor	</option>
                                    <option>Sin Respuesta Bonificado</option>
                                  </select>
                    </td>
                    <td contenteditable='true' value="&quot"></td>
                    <td contenteditable='true' value="&quot"></td>
                    <td contenteditable='true'value="&quot"></td>
                    <td contenteditable='true'value="&quot"></td>
                    <td contenteditable='true'value="&quot"></td>
                    <td contenteditable='true'value="&quot">DEVOLUCION PROVEEDOR</td>
                    <td contenteditable='true'value="&quot"></td>
                    <td contenteditable='true'value="&quot"></td>
                    <td contenteditable='true'value="&quot">DEVOLUCION PROVEEDOR BONIFICACION</td>
                    <td contenteditable='true'value="&quot">BONIFICAR </td>
                    <td contenteditable='true'value="&quot">BONIFICAR X PROVEEDOR  (por no cumplir con fecha de entrega)</td>
                  </tr>
                  <td><a href="javascript:void(0)" class="link"> 22095</a></td>
                  <td>860696031357063</td>
                  <td>M4 SS4450 PLATA</td>
                  <td>4/19/2017</td>
                  <td>1/2/2018</td>
                  <td>Carlos Fernando Perez Lopez</td>
                  <td contenteditable='true' value="&quot">S/VALIDAR</td>
                  <td contenteditable='true' value="&quot"></td>
                  <td contenteditable='true' value="&quot"></td>
                  <td contenteditable='true' value="&quot"> <select class="form-control" style="border:none; background:#eff0f1; " id="sel1" name="sellist1">
                        <option>Cambio Fisico</option>
                        <option>Devolucion a Proveedor</option>
                        <option>Equipo de Línea AT&T</option>
                        <option>Reparción con Costo</option>
                        <option>Fuera de Garantía</option>
                        <option>P/Acondicionar</option>
                        <option>P/Reacondicionar con Costo</option>
                        <option>Reparado mismo IMEI</option>
                        <option>Reparado nuevo IMEI	</option>
                        <option>Sin Reparar	</option>
                        <option>Sin Respuesta del Proveedor	</option>
                        <option>Sin Respuesta Bonificado</option>
                      </select></td>
                  <td contenteditable='true' value="&quot"></td>
                  <td contenteditable='true' value="&quot"></td>
                  <td contenteditable='true' value="&quot"></td>
                  <td contenteditable='true' value="&quot"></td>
                  <td contenteditable='true' value="&quot"></td>
                  <td contenteditable='true' value="&quot">DEVOLUCION PROVEEDOR</td>
                  <td contenteditable='true' value="&quot"></td>
                  <td contenteditable='true' value="&quot">ANTONIO LOPEZ</td>
                  <td contenteditable='true' value="&quot">DEVOLUCION PROVEEDOR BONIFICACION</td>
                  <td contenteditable='true' value="&quot">BONIFICAR </td>
                  <td contenteditable='true' value="&quot">BONIFICAR X PROVEEDOR  (por no cumplir con fecha de entrega)</td>
                </tr>
                <td><a href="javascript:void(0)" class="link"> 22102</a></td>
                <td>863870032512404</td>
                <td>W&O MAX3 NEGRO</td>
                <td>9/26/2017</td>
                <td>1/2/2018</td>
                <td>TOLUCA</td>
                <td contenteditable='true' value="&quot">S/VALIDAR</td>
                <td contenteditable='true' value="&quot"></td>
                <td contenteditable='true' value="&quot"></td>
                <td contenteditable='true' value="&quot"> <select class="form-control" style="border:none; background:#eff0f1; " id="sel1" name="sellist1">
                        <option>Cambio Fisico</option>
                        <option>Devolucion a Proveedor</option>
                        <option>Equipo de Línea AT&T</option>
                        <option>Reparción con Costo</option>
                        <option>Fuera de Garantía</option>
                        <option>P/Acondicionar</option>
                        <option>P/Reacondicionar con Costo</option>
                        <option>Reparado mismo IMEI</option>
                        <option>Reparado nuevo IMEI	</option>
                        <option>Sin Reparar	</option>
                        <option>Sin Respuesta del Proveedor	</option>
                        <option>Sin Respuesta Bonificado</option>
                      </select></td>
                <td contenteditable='true' value="&quot"></td>
                <td contenteditable='true' value="&quot"></td>
                <td contenteditable='true' value="&quot"></td>
                <td contenteditable='true' value="&quot"></td>
                <td contenteditable='true' value="&quot"></td>
                <td contenteditable='true' value="&quot">DEVOLUCION PROVEEDOR</td>
                <td contenteditable='true' value="&quot"></td>
                <td contenteditable='true' value="&quot">AT&T</td>
                <td contenteditable='true' value="&quot">DEVOLUCION PROVEEDOR BONIFICACION</td>
                <td contenteditable='true' value="&quot">BONIFICAR </td>
                <td contenteditable='true' value="&quot">BONIFICAR X PROVEEDOR  (por no cumplir con fecha de entrega)</td>
              </tr>
              <td><a href="javascript:void(0)" class="link"> 22094</a></td>
              <td>355201000736756</td>
              <td>W&O MAX3 NEGRO</td>
              <td>9/26/2017</td>
              <td>1/2/2018</td>
              <td>TOLUCA</td>
              <td contenteditable='true' value="&quot">S/VALIDAR</td>
              <td contenteditable='true' value="&quot"></td>
              <td contenteditable='true' value="&quot"></td>
              <td contenteditable='true' value="&quot"> <select class="form-control" style="border:none; background:#eff0f1; " id="sel1" name="sellist1">
                    <option>Cambio Fisico</option>
                    <option>Devolucion a Proveedor</option>
                    <option>Equipo de Línea AT&T</option>
                    <option>Reparción con Costo</option>
                    <option>Fuera de Garantía</option>
                    <option>P/Acondicionar</option>
                    <option>P/Reacondicionar con Costo</option>
                    <option>Reparado mismo IMEI</option>
                    <option>Reparado nuevo IMEI	</option>
                    <option>Sin Reparar	</option>
                    <option>Sin Respuesta del Proveedor	</option>
                    <option>Sin Respuesta Bonificado</option>
                  </select></td>
              <td contenteditable='true' value="&quot"></td>
              <td contenteditable='true' value="&quot"></td>
              <td contenteditable='true' value="&quot"></td>
              <td contenteditable='true' value="&quot"></td>
              <td contenteditable='true' value="&quot"></td>
              <td contenteditable='true' value="&quot">DEVOLUCION PROVEEDOR</td>
              <td contenteditable='true' value="&quot"></td>
              <td contenteditable='true' value="&quot"></td>
              <td contenteditable='true' value="&quot">DEVOLUCION PROVEEDOR BONIFICACION</td>
              <td contenteditable='true' value="&quot">BONIFICAR </td>
              <td contenteditable='true' value="&quot">BONIFICAR X PROVEEDOR  (por no cumplir con fecha de entrega)</td>
            </tr>
            <td><a href="javascript:void(0)" class="link"> 22093</a></td>
            <td>355001000685205</td>
            <td>W&O MAX3 NEGRO</td>
            <td>9/26/2017</td>
            <td>1/2/2018</td>
            <td>TOLUCA</td>
            <td contenteditable='true' value="&quot">S/VALIDAR</td>
            <td contenteditable='true' value="&quot"></td>
            <td contenteditable='true' value="&quot"></td>
            <td contenteditable='true' value="&quot"> <select class="form-control" style="border:none; background:#eff0f1; " id="sel1" name="sellist1">
                    <option>Cambio Fisico</option>
                    <option>Devolucion a Proveedor</option>
                    <option>Equipo de Línea AT&T</option>
                    <option>Reparción con Costo</option>
                    <option>Fuera de Garantía</option>
                    <option>P/Acondicionar</option>
                    <option>P/Reacondicionar con Costo</option>
                    <option>Reparado mismo IMEI</option>
                    <option>Reparado nuevo IMEI	</option>
                    <option>Sin Reparar	</option>
                    <option>Sin Respuesta del Proveedor	</option>
                    <option>Sin Respuesta Bonificado</option>
                  </select></td>
            <td contenteditable='true' value="&quot"></td>
            <td contenteditable='true' value="&quot"></td>
            <td contenteditable='true' value="&quot"></td>
            <td contenteditable='true' value="&quot"></td>
            <td contenteditable='true' value="&quot"></td>
            <td contenteditable='true' value="&quot">DEVOLUCION PROVEEDOR</td>
            <td contenteditable='true' value="&quot"></td>
            <td contenteditable='true' value="&quot"></td>
            <td contenteditable='true' value="&quot">DEVOLUCION PROVEEDOR BONIFICACION</td>
            <td contenteditable='true' value="&quot">BONIFICAR </td>
            <td contenteditable='true' value="&quot">BONIFICAR X PROVEEDOR  (por no cumplir con fecha de entrega)</td>
          </tr>
          <td><a href="javascript:void(0)" class="link"> 22093</a></td>
          <td>355001000685205</td>
          <td>W&O MAX3 NEGRO</td>
          <td>9/26/2017</td>
          <td>1/2/2018</td>
          <td>TOLUCA</td>
          <td contenteditable='true' value="&quot">S/VALIDAR</td>
          <td contenteditable='true' value="&quot"></td>
          <td contenteditable='true' value="&quot"></td>
          <td contenteditable='true' value="&quot"> <select class="form-control" style="border:none; background:#eff0f1; " id="sel1" name="sellist1">
                <option>Cambio Fisico</option>
                <option>Devolucion a Proveedor</option>
                <option>Equipo de Línea AT&T</option>
                <option>Reparción con Costo</option>
                <option>Fuera de Garantía</option>
                <option>P/Acondicionar</option>
                <option>P/Reacondicionar con Costo</option>
                <option>Reparado mismo IMEI</option>
                <option>Reparado nuevo IMEI	</option>
                <option>Sin Reparar	</option>
                <option>Sin Respuesta del Proveedor	</option>
                <option>Sin Respuesta Bonificado</option>
              </select></td>
          <td contenteditable='true' value="&quot"></td>
          <td contenteditable='true' value="&quot"></td>
          <td contenteditable='true' value="&quot"></td>
          <td contenteditable='true' value="&quot"></td>
          <td contenteditable='true' value="&quot"></td>
          <td contenteditable='true' value="&quot">DEVOLUCION PROVEEDOR</td>
          <td contenteditable='true' value="&quot"></td>
          <td contenteditable='true' value="&quot"></td>
          <td contenteditable='true' value="&quot">DEVOLUCION PROVEEDOR BONIFICACION</td>
          <td contenteditable='true' value="&quot">BONIFICAR </td>
          <td contenteditable='true' value="&quot">BONIFICAR X PROVEEDOR  (por no cumplir con fecha de entrega)</td>
        </tr>
        <td><a href="javascript:void(0)" class="link"> 22093</a></td>
        <td>355001000685205</td>
        <td>W&O MAX3 NEGRO</td>
        <td>9/26/2017</td>
        <td>1/2/2018</td>
        <td>TOLUCA</td>
        <td contenteditable='true' value="&quot">S/VALIDAR</td>
        <td contenteditable='true' value="&quot"></td>
        <td contenteditable='true' value="&quot"></td>
        <td contenteditable='true' value="&quot">
                <select class="form-control" style="border:none; background:#eff0f1; " id="sel1" name="sellist1">
                        <option>Cambio Fisico</option>
                        <option>Devolucion a Proveedor</option>
                        <option>Equipo de Línea AT&T</option>
                        <option>Reparción con Costo</option>
                        <option>Fuera de Garantía</option>
                        <option>P/Acondicionar</option>
                        <option>P/Reacondicionar con Costo</option>
                        <option>Reparado mismo IMEI</option>
                        <option>Reparado nuevo IMEI	</option>
                        <option>Sin Reparar	</option>
                        <option>Sin Respuesta del Proveedor	</option>
                        <option>Sin Respuesta Bonificado</option>
                      </select>
        </td>
        <td contenteditable='true' value="&quot"></td>
        <td contenteditable='true' value="&quot"></td>
        <td contenteditable='true' value="&quot"></td>
        <td contenteditable='true' value="&quot"></td>
        <td contenteditable='true' value="&quot"></td>
        <td contenteditable='true' value="&quot">DEVOLUCION PROVEEDOR</td>
        <td contenteditable='true' value="&quot"></td>
        <td contenteditable='true' value="&quot"></td>
        <td contenteditable='true' value="&quot">DEVOLUCION PROVEEDOR BONIFICACION</td>
        <td contenteditable='true' value="&quot">BONIFICAR </td>
        <td contenteditable='true' value="&quot">BONIFICAR X PROVEEDOR  (por no cumplir con fecha de entrega)</td>
      </tr>
      <td><a href="javascript:void(0)" class="link"> 22093</a></td>
      <td>355001000685205</td>
      <td>W&O MAX3 NEGRO</td>
      <td>9/26/2017</td>
      <td>1/2/2018</td>
      <td>TOLUCA</td>
      <td contenteditable='true' value="&quot">S/VALIDAR</td>
      <td contenteditable='true' value="&quot"></td>
      <td contenteditable='true' value="&quot"></td>
      <td contenteditable='true' value="&quot"> <select class="form-control" style="border:none; background:#eff0f1; " id="sel1" name="sellist1">
            <option>Cambio Fisico</option>
            <option>Devolucion a Proveedor</option>
            <option>Equipo de Línea AT&T</option>
            <option>Reparción con Costo</option>
            <option>Fuera de Garantía</option>
            <option>P/Acondicionar</option>
            <option>P/Reacondicionar con Costo</option>
            <option>Reparado mismo IMEI</option>
            <option>Reparado nuevo IMEI	</option>
            <option>Sin Reparar	</option>
            <option>Sin Respuesta del Proveedor	</option>
            <option>Sin Respuesta Bonificado</option>
          </select></td>
      <td contenteditable='true' value="&quot"></td>
      <td contenteditable='true' value="&quot"></td>
      <td contenteditable='true' value="&quot"></td>
      <td contenteditable='true' value="&quot"></td>
      <td contenteditable='true' value="&quot"></td>
      <td contenteditable='true' value="&quot">DEVOLUCION PROVEEDOR</td>
      <td contenteditable='true' value="&quot"></td>
      <td contenteditable='true' value="&quot"></td>
      <td contenteditable='true' value="&quot">DEVOLUCION PROVEEDOR BONIFICACION</td>
      <td contenteditable='true' value="&quot">BONIFICAR </td>
      <td contenteditable='true' value="&quot">BONIFICAR X PROVEEDOR  (por no cumplir con fecha de entrega)</td>
    </tr>
    <td><a href="javascript:void(0)" class="link"> 22093</a></td>
    <td>355001000685205</td>
    <td>W&O MAX3 NEGRO</td>
    <td>9/26/2017</td>
    <td>1/2/2018</td>
    <td>TOLUCA</td>
    <td contenteditable='true' value="&quot">S/VALIDAR</td>
    <td contenteditable='true' value="&quot"></td>
    <td contenteditable='true' value="&quot"></td>
    <td contenteditable='true' value="&quot"> <select class="form-control" style="border:none; background:#eff0f1; " id="sel1" name="sellist1">
            <option>Cambio Fisico</option>
            <option>Devolucion a Proveedor</option>
            <option>Equipo de Línea AT&T</option>
            <option>Reparción con Costo</option>
            <option>Fuera de Garantía</option>
            <option>P/Acondicionar</option>
            <option>P/Reacondicionar con Costo</option>
            <option>Reparado mismo IMEI</option>
            <option>Reparado nuevo IMEI	</option>
            <option>Sin Reparar	</option>
            <option>Sin Respuesta del Proveedor	</option>
            <option>Sin Respuesta Bonificado</option>
          </select></td>
    <td contenteditable='true' value="&quot"></td>
    <td contenteditable='true' value="&quot"></td>
    <td contenteditable='true' value="&quot"></td>
    <td contenteditable='true' value="&quot"></td>
    <td contenteditable='true' value="&quot"></td>
    <td contenteditable='true' value="&quot">DEVOLUCION PROVEEDOR</td>
    <td contenteditable='true' value="&quot"></td>
    <td contenteditable='true' value="&quot"></td>
    <td contenteditable='true' value="&quot">DEVOLUCION PROVEEDOR BONIFICACION</td>
    <td contenteditable='true' value="&quot">BONIFICAR </td>
    <td contenteditable='true' value="&quot">BONIFICAR X PROVEEDOR  (por no cumplir con fecha de entrega)</td>
  </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div><!--End tab-pane 1-->
        <div class="tab-pane p-20" id="profile2" role="tabpanel">
            <div class="container ">
                <h2>Acuse Entrega de Garantía</h2>
                <div class=" pull-right">
                        <button type="button" class="btn btn-success"
                        ng-click="genericModalAccept()">
                        Enviar
                      </button>
                    </div>
                </div>
                &nbsp;
                <form action="/action_page.php">
                  <div class="row">
                  <div class="form-group col-lg-6" >
                    <label for="sel1">Slecciona Tipo de Acuse</label>
                    <select class="form-control"  id="sel1" name="sellist1">
                      <option>Reparción mismo IMEI</option>
                      <option>Reparación con Costo	</option>
                      <option>Fuera de Garantía	</option>
                    </select>
                  </div>
                  <div class="form-group col-lg-6" >
                    <label for="sel1">Almacén</label>
                    <select class="form-control"  id="sel1" name="sellist1">
                      <option>Pre-almacén</option>
                      <option>Toluca	</option>
                      <option>Eusebio Hidalgo</option>
                    </select>
                  </div>
                  
                </form>
           
                 <div class="p-20">
                <div class="table-responsive "style="overflow:scroll; height:280px;width:85%;margin-left:1cm;" >
                        <table class="tableG table  table-striped table-bordered" >
                          <thead class="thead-light">
                            <tr>
                              <th class="thead-one">No.</th>
                              <th class="thead-one">Folio</th>
                              <th  class="thead-one">Imei</th>
                              <th  class="thead-one">Modelo</th>
                              <th  class="thead-one">Fecha de Garantía</th>
                              <th  class="thead-one">Almacén</th>
                              <th  class="thead-one">Estado de Equipo</th>
                              <th  class="thead-one">Diagnóstico</th>
                              <th  class="thead-one">Costo Venta</th>
                              <th  class="thead-one">Estatus</th>
                              <th  class="thead-one">Fecha Estatus</th>
                              <th  class="thead-one">Resive</th>
                              <th  class="thead-one">Observaciones</th>
                              <th  class="thead-one">Estatus de Vendedor</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr >
                             <td>01</td>
                              <td><a href="javascript:void(0)" class="link"> 22093</a></td>
                              <td>355001000685205</td>
                              <td>W&O MAX3 NEGRO</td>
                              <td>9/26/2017</td>
                              <td>EUSEBIO HIDALGO </td>
                              <td>USADO </td>
                              <td>REPARADO MISMO IMEI </td>
                              <td>ENTREGADO ALMACEN </td>
                              <td></td>
                              <td>7/31/2018</td>
                              <td contenteditable='true' value="&quot">RAFAEL VILLA </td>
                              <td contenteditable='true' value="&quot"> </td>
                              <td contenteditable='true' value="&quot"></td>
                            </tr>
                            <tr>
                            <td>02</td>
                            <td><a href="javascript:void(0)" class="link"> 22095</a></td>
                            <td>860696031357063</td>
                            <td>M4 SS4450 PLATA</td>
                            <td>4/19/2017</td>
                              <td>EUSEBIO HIDALGO </td>
                              <td>USADO </td>
                              <td>REPARADO MISMO IMEI </td>
                              <td>ENTREGADO ALMACEN </td>
                              <td></td>
                              <td>7/31/2018</td>
                              <td contenteditable='true' value="&quot">RAFAEL VILLA </td>
                              <td contenteditable='true' value="&quot"> </td>
                              <td contenteditable='true' value="&quot">RECOGER EQUIPO EN PREALMACEN </td>
                          </tr>
                          <tr>
                          <td>03</td>
                          <td><a href="javascript:void(0)" class="link"> 22102</a></td>
                          <td>863870032512404</td>
                          <td>W&O MAX3 NEGRO</td>
                          <td>9/26/2017</td>
                              <td>EUSEBIO HIDALGO </td>
                              <td>USADO </td>
                              <td>REPARADO MISMO IMEI </td>
                              <td>ENTREGADO ALMACEN </td>
                              <td></td>
                              <td>7/31/2018</td>
                              <td contenteditable='true' value="&quot">RAFAEL VILLA </td>
                              <td contenteditable='true' value="&quot"></td>
                              <td contenteditable='true' value="&quot"> RECOGER EQUIPO EN PREALMACEN </td>
                        </tr>  
                          </tbody>
                        </table>
                      </div>
                    </div>
      </div><!--End tab-content-->
    </div><!--End card-->
  </div><!--End col-md-12-->
</div>

 
  