<div class="row mb-3">
  <!--Filtros-->
  <div class="col-sm-9">
    <h4>Registro de marcas</h4>
  </div>
  <!--Botones-->
  <div class="col-sm-3 text-right">
    <button type="button" class="btn btn-secondary btn-sm"
      ng-click="$state.go(return.to, return.paramsTo)">
      <span class="fa fa-arrow-left"></span>
      Regresar
    </button>
  </div>
</div><!--/.row-->
<!--Loading-->
<div class="text-center my-5 py-5"
  ng-show="busy">
  <h4>
    <span class="fa fa-refresh fa-spin"></span>
    <small>procesando datos...</small>
  </h4>
</div>
<!--Formulario-->
<div class="row justify-content-center"
  ng-hide="busy">
  <div class="col-md-8">
    <form name="formBrand" autocomplete="off"
      ng-submit="save()" class="needs-validation" novalidate>
      <div class="form-row">
        <div class="form-row form-group col-md-8">
          <label for="name" class="col-sm-5 col-form-label col-form-label-sm text-md-right">
            <span>*</span>
            Marca:
          </label>
          <div class="col-sm-7">
            <input type="text" name="name" class="form-control form-control-sm"
              autofocus required placeholder="Escriba el nombre de la marca"
              ng-model="brand.name">
            <div class="invalid-feedback">
              Debe registrar el nombre de la nueva marca.
            </div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <button type="submit" class="btn btn-success btn-sm">
            <span class="fa fa-arrow-right"></span>
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
