<div class="row mb-3">
  <!--Título-->
  <div class="col-sm-12 col-md-8">
    <h4>Marcas registradas.</h4>
  </div><!--/.col-sm-6-->
  <!--Botones-->
  <div class="col-sm-12 col-md-4 text-right">
    <a class="btn btn-primary btn-sm" ui-sref="admin.brand.add">
      <span class="fa fa-plus"></span>
      Agregar una marca
    </a>
  </div><!--/.col-sm-6-->
</div><!--/.row-->
<!--Lista de marcas-->
<div class="table-responsive-lg">
  <table class="table table-sm table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">Número</th>
        <th scope="col">Marca</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-hide="brands.length">
        <td colspan="3" class="text-center">
          No se encontraron marcas
        </td>
      </tr>
      <tr ng-repeat="brand in brands">
        <td class="text-center" scope="row">
          {{$index + 1}}
        </td>
        <td class="text-center">
          {{brand.name}}
        </td>
        <td class="text-center text-nowrap">
          <button class="btn btn-danger btn-sm"
            ng-disabled="brand.products.length || brand.models.length"
            ng-click="delete(brand)">
            <span class="far fa-trash-alt"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--Paginación-->
<div ng-include="'views/common/pagination.html'"></div>