<div class="card">
  <div class="card-body">
<div class="row page-titles" style="margin: 0 -25px 5px !important;">
    <div class="col-lg-12 "> 
        <h2 >Historial adeudos cliente <span class="	far fa-calendar-alt"></span></h2>
        <div class="pull-right ">
            <button type="button" class="btn btn-sm btn-info oculto-impresion" 
            class="btn return " 
            onclick="history.back(-1)">
            <span class="fas fa-reply"></span>
            Regresar
          </button>
          
      
            <button type="button" class="btn btn-sm btn-dark oculto-impresion" 
            class="btn oculto-impresion" 
            onclick="imprimir()">
            <span class="fas fa-print"></span>
            Imprimir
          </button>
          </div>&nbsp;
        <form class="form-inline" autocomplete="off">
          <!--Date picker-->
            <div class="col-lg-4 oculto-impresion">
              <label class=" col-form-label col-form-label-sm text-right">
                Selecciona la Fecha:
              </label>
                <div class="input-group">
                  <input type="text" id="datepicker1" class="form-control form-control-sm"
                    placeholder="mm/dd/aaaa" aria-label="Fecha1" ng-click="getDate()" required
                   >
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <span class="fa fa-calendar"></span>
                    </span>
                  </div>
                  <div class="invalid-feedback">
                    Debe seleccionar una fecha del calendario.
                  </div>
                </div>
            </div>
            <div class="col-lg-4" ng-repeat="debts in debts" style="text-align:center;">
              <h2 class=" col-form-label col-form-label-sm " >
                Cliente:&nbsp;Josue Flores
              </h2>
            </div>
            <div class="col-lg-4" ng-repeat="debts in debts" style="text-align:center;">
                <h2 class=" col-form-label col-form-label-sm " >
                  Tel:&nbsp;5523648710
                </h2>
              </div>
          
            <!--<div class="form-group form-row">
                <label class="col-sm-4 col-md-5 col-form-label col-form-label-sm text-right">
                  Fecha2:
                </label>
                <div class="col-lg-8">
                  <div class="input-group">
                    <input type="text" id="datepicker" class="form-control form-control-sm"
                      placeholder="mm/dd/aaaa" value="l" aria-label="Fecha de compra" ng-click="getDate()" required
                      >
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <span class="fa fa-calendar"></span>
                      </span>
                    </div>
                    <div class="invalid-feedback">
                      Debe seleccionar una fecha del calendario.
                    </div>
                  </div>
                </div>
              </div>-->
            </div>
         </div>
    </div>&nbsp;

        </div>
        </div>
      </div>&nbsp;
      <!--Breadcrumb-->
      <div class="card">
        <div class="card-body">  
            <div class="row">
                <div class="tab-one col-lg-4" >
                <table class="table table table-condensed " style="width:300px;height:50px">
                <thead class="thead-one">
                <tr>
                <th  class="thead-one" ><strong><h5>Adeudo Inicial</h5>  </strong>  </th>
                <th class="thead-one " ><strong><h5>Adeudo Actual </h5>  </strong>  </th>
                </tr>
               
                      </thead>
                <tbody  class="thead-one">
                    <tr >
                        <th class=" " ><h1>$25,000</h1></th>
                        <th class=" "><h1>$40,000</h1></th>
                        </tr>
                </tbody>
                </table>
                </div> 
                </div>    
    <section class="section-table" style="margin-bottom:30px; margin-top:30px;">
      <div class="table-responsive">
      <table class="table  table-condensed table-bordered">
        <thead class="thead-light">
          <tr>
              <th scope="col" class="thead-one">Fecha</th>
              <th scope="col" class="thead-one">Adeudo Anterior</th>
            <th scope="col" class="thead-one">Abono (s)</th>
            <th scope="col" class="thead-one">Total Parcial</th>
            <th scope="col" class="thead-one">Credito</th>
            <th scope="col" class="thead-one">Bonificacion</th>
            <th scope="col" class="thead-one">Total</th>
          </tr>
        </thead>
        <tbody>
            <tr  >
                <td align="center">24-03-2019</td>
                <td align="center">$25,000</td>
                <td align="center">$10,000</td>
                <td align="center">$15,000 </td>
                <td align="center">$25,000</td>
                <td align="center"  data-toggle="modal"  data-target="#myModal"><a><u>$0.00</u></a></td>
                <td align="center">$40,000</td>
                </tr>
                <tr>            
        </tbody>
      </table>
    </div>
  </section>
  <div class="center oculto-impresion" ng-include="'views/common/pagination.html'" ></div>
</div>
</div>
</div>

<button > </button> 
<!-- The Modal -->
<div class="modal fade" id="myModal" >
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header" style="background:#042571" >
          <h4 class="modal-title">Detalles de Bonificación </h4>&nbsp;
         
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" ng-repeat="date in date |limitTo:1 " >
            
            {{getDateFormat(date.date,'l')}}
                
          </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
<script type="text/javascript">
  function imprimir(){
  window.print();
}


      
  </script>&nbsp;



