<div class="row mb-3">
  <!--Título-->
  <div class="col-sm-12 col-md-8">
    <h4>Ordenes de compra: captura de inventario.</h4>
  </div><!--/.col-sm-6-->
  <!--Botones-->
  <div class="col-sm-12 col-md-4 text-right">
    <button type="button" class="btn btn-primary btn-sm"
      ng-disabled="busy"
      ng-click="$state.go('admin.purchase-order.add')">
      <span class="fa fa-plus"></span>
      Orden de compra
    </button>
  </div><!--/.col-sm-6-->
</div><!--/.row-->
<!--Loading-->
<div class="text-center my-5 py-5"
  ng-show="busy">
  <h4>
    <span class="fa fa-refresh fa-spin"></span>
    <small>procesando datos...</small>
  </h4>
</div>
<div ng-hide="busy">
  <!--Filtros-->
  <div class="row mb-3">
    <div class="col">
      <form class="form-inline" autocomplete="off">
        <!--Select-->
        <div class="form-group">
          <label class="col-form-label">
            Filtrar por estado:
          </label>
          <select class="form-control form-control-sm ml-3 mr-3"
            ng-model="formFilters.status"
            ng-options="item.tag as item.label for item in purchaseStatus">
          </select>
        </div><!--/.form-group-->
        <!--Date picker-->
        <div class="form-group">
          <label class="col-form-label">
            o por Fecha de compra:
          </label>
          <div class="input-group ml-3">
            <input type="text" id="datepicker" class="form-control form-control-sm"
              placeholder="mm/dd/aaaa" aria-label="Fecha de compra"
              ng-model="formFilters.purchaseDate">
            <div class="input-group-append">
              <span class="input-group-text">
                <span class="fa fa-calendar"></span>
              </span>
            </div><!--/.input-group-append-->
          </div><!--/.input-group-->
        </div><!--/.form-group-->
      </form>
    </div><!--/.col-->
  </div>
  <!--Lista de ordenes de compra-->
  <div class="table-responsive-lg">
    <table class="table table-sm table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Número</th>
          <th scope="col">Estado</th>
          <th scope="col">Proveedor</th>
          <th scope="col">Fecha de compra</th>
          <th scope="col">Productos</th>
          <th scope="col">Registrados</th>
          <th scope="col">Total</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-hide="purchaseOrders.length">
          <td colspan="8" class="text-center">
            No se encontraron ordenes de compra
          </td>
        </tr>
        <tr ng-repeat="purchaseOrder in purchaseOrders">
          <td class="text-center" scope="row">
            {{purchaseOrder.number}}
          </td>
          <td class="text-center">
            {{estado[purchaseOrder.status]}}
          </td>
          <td>
            {{purchaseOrder.provider.name}}
          </td>
          <td class="text-center">
            {{getDateFormat(purchaseOrder.purchaseDate, 'L')}}
          </td>
          <td class="text-nowrap">
            <ul class="list-unstyled list-on-table">
              <li ng-repeat="batch in purchaseOrder.batches">
                <span ng-bind-html="setProductName(batch.product.name)" class="left-span"></span>
                <span class="text-right right-span">
                  {{batch.stockCount | number}} / {{batch.stockSize | number}}</span>
              </li>
            </ul>
          </td>
          <td class="text-center">
            <h4>{{purchaseOrder.inserts | number}}</h4>
          </td>
          <td class="text-center">
            <h4>{{purchaseOrder.progress}}%</h4>
          </td>
          <td class="text-center text-nowrap">
            <button class="btn btn-sm"
              ng-hide="purchaseOrder.finishedDate"
              ng-click="toggleStatus(purchaseOrder)"
              ng-class="purchaseOrder.status === 'open' ? 'btn-info' : 'btn-outline-info'">
              <span class="fa" ng-class="purchaseOrder.status === 'open' ? 'fa-unlock-alt' : 'fa-lock'"></span>
            </button>
            <button type="button" class="btn btn-light btn-sm"
              ng-click="$state.go('admin.purchase-order.batch', {purchaseId: purchaseOrder.id})">
              <span class="fa fa-eye"></span>
            </button>
            <button class="btn btn-danger btn-sm"
              ng-disabled="purchaseOrder.inserts"
              ng-hide="purchaseOrder.finishedDate"
              ng-click="delete(purchaseOrder)">
              <span class="far fa-trash-alt"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--Paginación-->
  <div ng-include="'views/common/pagination.html'"></div>
</div>
<!--Script del datepicker-->
<script>
  $(function() {
    $("#datepicker").datepicker({
      dateFormat: 'dd/mm/yy'});
  });
</script>