<div class="row mb-3">
  <!--Filtros-->
  <div class="col-sm-6">
    <h4>Relación de pagos.</h4>
  </div>
  <!--Botones-->
  <div class="col-sm-6 text-right">
    <a class="btn btn-dark btn-sm" href="/api/PurchaseOrders/excelReport" target="_blank">
      <span class="fa fa-download"></span>
      Descargar reporte
    </a>
  </div>
</div><!--/.row-->
<!--Filtros-->
<div class="row mb-3">
  <div class="col">
    <form class="form-inline">
      <!--Select-->
      <div class="form-group">
        <label class="col-form-label">
          Filtrar por estado del pago:
        </label>
        <select class="form-control form-control-sm ml-3 mr-3"
          ng-model="formFilters.status"
          ng-options="item.label for item in paymentStatus track by item.tag">
        </select>
      </div>
      <!--Select-->
      <div class="form-group">
        <label class="col-form-label">
          o por Prioridad:
        </label>
        <select class="form-control form-control-sm ml-3 mr-3"
          ng-model="formFilters.rule"
          ng-options="item.label for item in paymentRules track by item.tag">
        </select>
      </div>
      <!--Date picker-->
      <div class="form-group">
        <label class="col-form-label">o por Fecha de pago:</label>
        <div class="input-group ml-3">
          <input type="text" id="datepicker" class="form-control form-control-sm"
            placeholder="mm/dd/aaaa" aria-label="Fecha de pago"
            ng-model="formFilters.paymentDate">
          <div class="input-group-append">
            <span class="input-group-text">
              <span class="fa fa-calendar"></span>
            </span>
          </div><!--/.input-group-append-->
        </div><!--/.input-group-->
      </div><!--/.form-group-->
    </form>
  </div><!--/.col-->
</div><!--/.row-->
<!--Lista de ordenes de compra-->
<div class="table-responsive-lg">
  <table class="table table-sm table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">Número</th>
        <th scope="col">Proveedor</th>
        <th scope="col">Productos</th>
        <th scope="col">Total</th>
        <th scope="col">Prioridad</th>
        <th scope="col">Fecha de pago</th>
        <th scope="col">Días antes de pago</th>
        <th scope="col">Pagar</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-hide="purchaseOrders.length">
        <td colspan="8" class="text-center">
          No se encontraron ordenes de compra
        </td>
      </tr>
      <tr ng-repeat="purchaseOrder in purchaseOrders">
        <td class="text-center" scope="row">
          {{purchaseOrder.number}}
        </td>
        <td>
          {{purchaseOrder.provider.name}}
        </td>
        <td>
          <ul class="list-unstyled list-on-table">
            <li ng-repeat="batch in purchaseOrder.batches">
              <span ng-bind-html="setProductName(batch.product.name)" style="display: inline-block; width: 100%;"></span>
            </li>
          </ul>
        </td>
        <td class="text-right">
          {{purchaseOrder.total | currency :$:2}}
        </td>
        <td class="text-center">
          {{setPaymentRule(purchaseOrder.paymentRule)}}
        </td>
        <td class="text-center">
          {{getDateFormat(purchaseOrder.paymentDate, 'DD/MM/YYYY')}}
        </td>
        <td class="text-center">
          <h4>{{purchaseOrder.days}}</h4>
        </td>
        <td class="text-center">
          <a href="#" class="btn btn-sm"
            ng-click="toggleStatus(purchaseOrder)"
            ng-class="purchaseOrder.paymentStatus ? 'btn-info' : 'btn-light'">
            <span class="fa fa-dollar"></span>
          </a>
        </td>
      </tr>
      <tr>
        <th colspan="3" class="text-right" scope="row">Total por pagar:</th>
        <td class="text-right">{{total | currency :$:2}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!--Paginación-->
<div ng-include="'views/common/pagination.html'"></div>
<!--Script del datepicker-->
<script>
  $(function() {
    $("#datepicker").datepicker({
      dateFormat: 'dd/mm/yy'});
  });
</script>