<!--Subtitulo-->
<div class="row mb-3">
  <!--Sección-->
  <div class="col-sm-9">
    <h4>Control de precios</h4>
  </div>
  <!--Botones-->
  <div class="col-sm-3 text-right">
    <button type="button" class="btn btn-secondary btn-sm" disabled
      ng-click="$state.go('admin.purchase-order.list')">
      <span class="fa fa-arrow-left"></span>
      Cancelar
    </button>
  </div>
</div><!--/.row-->
<!--Datos del lote y gráfico-->
<div ng-show="toggleView">
  <!--Cerrar vista-->
  <div class="row justify-content-end">
    <div class="col-1 mr-2">
      <button type="button" class="btn btn-warning btn-sm"
        ng-click="toggleView = false">
        <span class="fa fa-close"></span>
        Cerrar
      </button>
    </div>
  </div>
  <!--Datos del lote y del stock-->
  <div class="row mt-2">
    <div class="col-md-6 col-lg-5 mb-sm-3">
      <div class="card">
        <h6 class="card-header">
          {{currentStock.name}}
        </h6>
        <div class="card-body">
          <dl class="row">
            <!--Fecha de compra-->
            <dt class="col-sm-4 col-md-6 text-sm-right">Fecha de compra:</dt>
            <dd class="col-sm-8 col-md-6">{{getDateFormat(currentStock.purchaseDate, 'L')}}</dd>
            <!--Número de orden-->
            <dt class="col-sm-4 col-md-6 text-sm-right">Número de orden:</dt>
            <dd class="col-sm-8 col-md-6">{{currentStock.number}}</dd>
            <!--Cantidad de piezas-->
            <dt class="col-sm-4 col-md-6 text-sm-right">Cantidad de piezas:</dt>
            <dd class="col-sm-8 col-md-6">{{currentStock.stockSize | number}}</dd>
            <!--Piezas vendidas-->
            <dt class="col-sm-4 col-md-6 text-sm-right">Piezas vendidas:</dt>
            <dd class="col-sm-8 col-md-6">{{currentStock.sold != null ? currentStock.sold : '0' | number}}</dd>
            <!--Costo unitario-->
            <dt class="col-sm-4 col-md-6 text-sm-right">Costo unitario:</dt>
            <dd class="col-sm-8 col-md-6" ng-bind-html="makeAmount('pesos', currentStock.cost)"></dd>
            <!--Costo con descuento-->
            <dt class="col-sm-4 col-md-6 text-sm-right">Costo con descuento:</dt>
            <dd class="col-sm-8 col-md-6" ng-bind-html="makeAmount('pesos', currentStock.modifiedCost)"></dd>
            <!--Precio de venta-->
            <dt class="col-sm-4 col-md-6 text-sm-right">Precio de venta:</dt>
            <dd class="col-sm-8 col-md-6">
              <!--Label-->
              <div ng-hide="togglePrice">
                <span ng-bind-html="makeAmount('pesos', currentStock.publicPrice)"></span>
                <button type="button" class="btn btn-outline-primary btn-sm ml-1"
                  ng-click="togglePrice = true">
                  <span class="fas fa-pencil-alt"></span>
                </button>
              </div>
              <!--Input-->
              <div class="input-group input-group-sm" ng-show="togglePrice">
                <input type="number" id="box" class="form-control form-control-sm"
                  ng-model="currentStock.publicPrice">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-sm btn-outline-success"
                      ng-click="updatePrice()">
                      <span class="fa fa-check"></span>
                    </button>
                  </div>
                </div>
              
            </dd>
            <!--Costo del lote-->
            <dt class="col-sm-4 col-md-6 text-sm-right">Costo del lote:</dt>
            <dd class="col-sm-8 col-md-6" ng-bind-html="makeAmount('pesos', currentStock.minimumProfit)"></dd>
            <!--Utilidad esperada-->
            <dt class="col-sm-4 col-md-6 text-sm-right">Utilidad esperada:</dt>
            <dd class="col-sm-8 col-md-6" ng-bind-html="makeAmount('pesos', currentStock.expectedProfit)"></dd>
            <!--Utilidad proyectada-->
            <dt class="col-sm-4 col-md-6 text-sm-right">Utilidad:</dt>
            <dd class="col-sm-8 col-md-6" ng-bind-html="makeAmount('pesos', (currentStock.expectedProfit - currentStock.minimumProfit))"></dd>
            <!--Utilidad real-->
            <dt class="col-sm-4 col-md-6 text-sm-right">Utilidad real:</dt>
            <dd class="col-sm-8 col-md-6" ng-bind-html="makeAmount('pesos', (currentStock.profit - currentStock.expectedProfit))"></dd>
          </dl>
        </div>
      </div>
    </div>
    <!--Gráfico-->
    <div class="col-md-6 col-lg-7">
      <canvas id="myChart"></canvas>
    </div>
  </div><!--/.row-->
</div>
<!--Lista de precios-->
<div class="table-responsive-lg" ng-hide="toggleView">
  <table class="table table-sm table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Fecha de compra</th>
        <th scope="col">Costo unitario</th>
        <th scope="col">Costo con descuentos</th>
        <th scope="col">Precio al público</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-hide="orders.length">
        <td colspan="6" class="text-center">
          No se encontraron ordenes de compra
        </td>
      </tr>
      <tr ng-repeat="order in orders">
        <td ng-bind-html="setProductName(order.name)"></td>
        <td class="text-center">
          {{getDateFormat(order.purchaseDate, 'L')}}
        </td>
        <td class="text-center text-nowrap" ng-bind-html="makeAmount('pesos', order.cost)"></td>
        <td class="text-center text-nowrap" ng-bind-html="makeAmount('pesos', order.modifiedCost)"></td>
        <td class="text-center text-nowrap" ng-bind-html="makeAmount('pesos', order.publicPrice)"></td>
        <td class="text-center text-nowrap">
          <button class="btn btn-primary btn-sm"
            ng-click="details(order)">
            <span class="fas fa-pencil-alt"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--Paginación-->
<div ng-include="'views/common/pagination.html'"></div>