<!--Menú-->
<nav class="navbar navbar-systemax navbar-expand-md navbar-light fixed-top d-print-none">
  <div class="container">
    <!--Logotipo-->
    <a class="navbar-brand" href="#">
      <img alt="Logo de Smart-U" src="assets/img/logo.png" class="logo-ax">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse"
      data-target="#navbar-content" aria-controls="navbar-content"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>
    <!--Menú desplegable-->
    <div class="collapse navbar-collapse" id="navbar-content">
    </div><!--/.navbar-collapse-->
  </div><!--/.container-->
</nav>
<!--Contenido del view-->
<div class="container container-main py-3" style="margin-top: 79px;">
  <div class="alert alert-secondary">
    <h1 class="page-header">
      <span class="fa fa-book"></span>
      Registro de Garantías
    </h1>
    <p>Utilice el sistema Smart-U para registrar la solicitud de garantía para
      sus productos. Tenga a la mano el número de IMEI para el caso de los
      celulares o el número de serie para otros productos.</p>
    <hr>
  </div>
  <ul class="nav nav-pills mb-3 d-print-none">
    <li class="nav-item">
      <a class="nav-link" href="#"
        ui-sref="client.guarantee-add"
        ui-sref-active="active">Registrar garantía</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
      ui-sref="client.guarantee-tracking"
      ui-sref-active="active">Seguimiento de garantía</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
      ui-sref="client.guarantee-success"
      ui-sref-active="active">Reimpresión de acuse</a>
    </li>
  </ul>
  <div ui-view></div>
</div>
<!--Modal generico-->
<div class="modal fade" id="genericModal" tabindex="-1" role="dialog"
  aria-labelledby="genericModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Contenido-->
    <div class="modal-content border border-danger">
      <!--Encabezado-->
      <div class="modal-header bg-danger text-white">
        <h6 class="modal-title" id="genericModalLabel">
          <span class="{{genericModal.icon}}"></span>
          {{genericModal.title}}
        </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Cuerpo-->
      <div class="modal-body">
        <div class="text-center" ng-bind-html="genericModal.body"></div>
      </div>
      <!--Pie de página-->
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal"
          ng-hide="genericModal.hideCancel">
          <span class="fa fa-close"></span>
          Cancelar
        </button>
        <button type="button" class="btn btn-sm btn-danger"
          ng-click="genericModalAccept()">
          <span class="fa fa-check"></span>
          Aceptar
        </button>
      </div>
    </div><!--/.modal-content-->
  </div><!--/.modal-dialog-->
</div><!--/.modal-->
<!--Menu Toggle Script-->
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
<!--*************************************************************************-->