<div class="row mb-3">
  <!--Título-->
  <div class="col-sm-9">
    <h4>Registrar ingreso a garantía.</h4>
  </div><!--/.col-sm-9-->
  <div class="col-sm-3 text-right">
    <button type="button" class="btn btn-secondary btn-sm"
      ng-click="$state.go('client')">
      <span class="fa fa-arrow-left"></span>
      Cancelar
    </button>
  </div>
</div><!--/.row-->
<!--Loading-->
<div class="text-center my-5 py-5"
  ng-show="busy">
  <h4>
    <span class="fa fa-refresh fa-spin"></span>
    <small>procesando datos...</small>
  </h4>
</div>
<!--Formularios-->
<div ng-hide="busy">
  <!--Instrucciones-->
  <div class="row justify-content-center">
    <div class="col-md-6 alert alert-info" role="alert">
      <h4 class="alert-heading">Instrucciones:</h4>
      <hr>
      <ol>
        <li>
          Ingrese su correo electrónico.
          <span class="fa fa-check" ng-show="client.id"></span></li>
        <li>
          Ingrese el número de serie/IMEI del producto.
          <span class="fa fa-check" ng-show="stock.id"></span></li>
        <li>Llene el formulario de garantías.</li>
        <li>Concluido el registro, imprima el acuse de garantía.</li>
        <li>Entregue el producto junto con la hoja de garantía.</li>
      </ol>
    </div><!--/.col-md-6-->
  </div><!--/.row-->
  <!--Formulario de correo electrónico-->
  <div class="row justify-content-center"
    ng-hide="client.id">
    <div class="col-md-6">
      <form name="formEmail" class="form-inline justify-content-center needs-validation"
        ng-submit="searchClient()">
        <!--Caja de email-->
        <div class="form-group mb-2 ml-2">
          <label for="email1" class="col-form-label mr-2">
            Buscar:
          </label>
          <div class="input-group">
            <input type="email" id="email1" class="form-control search" placeholder="tucorreo@dominio.com"
              ng-model="client.email" autofocus>
            <div class="input-group-append">
              <button type="submit" class="btn btn-outline-primary">
                <span class="fa fa-search"></span>
              </button>
            </div>
          </div><!--/.input-group-->
        </div><!--/.form-group-->
      </form>
    </div><!--/.col-md-6-->
  </div><!--/.row-->
  <!--Formulario de IEMI-->
  <div class="row justify-content-center"
    ng-show="client.id && !stock.id">
    <div class="col-md-6">
      <form name="formIMEI" class="" autocomplete="off"
        ng-submit="searchProduct()">
        <!--Email del cliente-->
        <div class="form-row form-group">
          <label for="email2" class="col-md-3 col-form-label text-md-right">
            <span>*</span>
            Correo electrónico:
          </label>
          <div class="col-md-9">
            <input type="text" id="email2" class="form-control" readonly
              ng-model="client.email">
          </div>
        </div>
        <!--Nombre del cliente-->
        <div class="form-row form-group">
          <label for="name" class="col-md-3 col-form-label text-md-right">
            <span>*</span>
            Cliente:
          </label>
          <div class="col-md-9">
            <input type="text" id="name" class="form-control" readonly
              ng-model="client.name">
          </div>
        </div>
        <!--Caja de IMEI-->
        <div class="form-row form-group">
          <label for="imei" class="col-md-3 col-form-label text-md-right">
            <span>*</span>
            Serie / IMEI:
          </label>
          <div class="col-md-6 input-group">
            <input type="text" id="imei" class="form-control search"
              placeholder="000000000000000" autofocus
              ng-model="stock.IMEI">
            <div class="input-group-append">
              <button type="submit" class="btn btn-outline-primary">
                <span class="fa fa-search"></span>
              </button>
            </div>
          </div><!--/.input-group-->
        </div><!--/.form-group-->
      </form>
    </div><!--/.col-md-6-->
  </div><!--/.row-->
  <div ng-show="stock.id">
    <!--Alerta-->
    <div class="row justify-content-center"
      ng-show="stock && !stock.inTime">
      <div class="col-md-6 alert alert-danger" role="alert">
        <h4 class="alert-heading">¡Atención!</h4>
        <hr>
        <p>La vigencia de garantía para este equipo ha vencido, podrá ingresar el
          equipo para su reparación asumiendo el costo de la misma.</p>
      </div><!--/.col-md-6-->
    </div><!--/.row-->
    <!--Formulario de correo electrónico-->
    <div class="row justify-content-center"
      ng-hide="client.id">
      <div class="col-md-6">
        <form name="formEmail"
          ng-submit="searchClient()">
          <!--Caja de email-->
          <div class="form-group mb-2 ml-2">
            <label for="email1" class="col-form-label mr-2">
              Buscar:<span>*</span>
            </label>
            <div class=" email input-group">
              <input type="email" id="email1" name="email" class=" email form-control search" placeholder="tucorreo@dominio.com"
                ng-model="client.email"  required >
              <div class="input-group-append">
                <button type="submit" class="btn btn-outline-primary">
                  <span class="fa fa-search"></span>
                </button>
              </div>
            </div><!--/.input-group-->
          </div><!--/.form-group-->
        </form>
      </div><!--/.col-md-6-->
    </div><!--/.row-->
    <!--Formulario de IEMI-->
    <div class="row justify-content-center"
      ng-show="client.id && !stock.id">
      <div class="col-md-6">
        <form name="formIMEI" class="" autocomplete="off"
          ng-submit="searchProduct()">
          <!--Email del cliente-->
          <div class="form-row form-group">
            <label for="client" class="col-sm-2 col-form-label col-form-label-sm text-md-right">
              <span>*</span>
              E-mail:
            </label>
            <div class="col-md-9">
              <input type="text" id="email2" class="form-control" readonly
                ng-model="client.email" required>
            </div>
          </div>
          <!--Cliente-->
          <div class="form-row form-group">
            <label for="client" class="col-sm-2 col-form-label col-form-label-sm text-md-right">
              <span>*</span>
              Cliente:
            </label>
              <div class="col-sm-9">
              <input type="text" id="client" class="form-control form-control-sm" readonly
                ng-model="stock.client.name">
            </div>
          </div>
          <!--Fecha de venta-->
          <div class="form-row form-group">
            <label for="saleDate" class="col-sm-2 col-form-label col-form-label-sm text-md-right">
              <span>*</span>
              Fecha de venta:
            </label>
              <div class="col-sm-5">
              <input type="text" id="saleDate" class="form-control form-control-sm" readonly
                value="{{getDateFormat(stock.saleDate, 'L')}}">
            </div>
          </div>
          <!--Tiene costo-->
          <div class="form-group form-row justify-content-end">
            <div class="custom-control custom-checkbox col-sm-10">
              <input type="checkbox" id="hasCost" class="custom-control-input"
                ng-model="guarantee.hasCost"
                ng-disabled="!stock.inTime">
              <label for="hasCost" class="custom-control-label">
                La reparación tiene costo:
              </label>
            </div>
          </div>
        </div><!--/.col-sm-8-->
      </div><!--/.row-->
      <!--Accesorios-->
      <div class="row">
        <div class="col">
          <h5>Accesorios con los que se recibe:</h5>
          <hr>
          <div class="form-group form-row px-5">
            <!--Accesorios-->
            <div class="custom-control custom-checkbox col-sm-4"
              ng-repeat="accessory in stock.product.accessories">
              <input type="checkbox" id="{{accessory.id}}" class="custom-control-input"
                ng-model="accessory.value"
                ng-click="addAccessory(accessory)">
              <label for="{{accessory.id}}" class="custom-control-label">
                {{accessory.name}}
              </label>
                <div class="col-sm-5">
                <input type="text" id="saleDate" class="form-control form-control-sm" readonly
                  value="{{getDateFormat(stock.saleDate, 'L')}}">
              </div>
            </div>
            <!--Tiene costo-->
            <div class="form-group form-row justify-content-end">
              <div class="custom-control custom-checkbox col-sm-10">
                <input type="checkbox" id="hasCost" class="custom-control-input"
                  ng-model="guarantee.hasCost"
                  ng-disabled="!stock.inTime">
                <label for="hasCost" class="custom-control-label">
                  La reparación tiene costo:{{guarantee.hasCost}}


                </label>
              </div>
            </div>
          </div><!--/.col-sm-8-->
        </div><!--/.row-->
        <!--Accesorios-->
        <div class="row">
          <div class="col-lg-12" id="accessories"  >
          <div ng-hide="guarantee.hasCost"  class="col">
            <h5>Accesorios con los que se recibe:</h5>
            <hr>
            <div class="form-group form-row px-5" >
              <!--Accesorios-->
              <div class="custom-control custom-checkbox col-sm-4"
                ng-repeat="accessory in stock.product.accessories">
                <input type="checkbox" id="{{accessory.id}}" class="custom-control-input"
                  ng-model="accessory.value"
                  ng-click="addAccessory(accessory)">
                <label for="{{accessory.id}}" class="custom-control-label">
                  {{accessory.name}}
                </label>
              </div>
            </div>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
      <!--Fallas-->
      <div class="row">
        <div class="col">
          <h5>Fallas que presenta el equipo:</h5>
          <hr>
          <div class="form-group form-row px-5">
            <!--Accesorios-->
            <div class="custom-control custom-checkbox col-sm-4"
              ng-repeat="failure in stock.product.type.failures">
              <input type="checkbox" id="{{failure.id}}" class="custom-control-input"
                ng-model="failure.value"
                ng-click="addFailure(failure)">
              <label for="{{failure.id}}" class="custom-control-label">
                {{failure.name}}
              </label>
            </div>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
      <!--Observaciones-->
      <div class="row">
        <div class="col">
          <label>Observaciones adicionales</label>
          <textarea class="form-control"
            ng-model="guarantee.description"></textarea>
        </div>
      </div>
      <!--Botón-->
      <div class="text-center my-3">
        <button type="submit" class="btn btn-success btn-sm">
          <span class="fa fa-save"></span>
          Registrar la garantía
        </button>
      </div>
    </form>
  </div>
</div><!---->
