<div class="row mb-3">
  <!--Título-->
  <div class="col-sm-9">
    <h4>Seguimiento a garantías.</h4>
  </div><!--/.col-sm-9-->
  <div class="col-sm-3 text-right">
    <button type="button" class="btn btn-secondary btn-sm"
      ng-click="$state.go('client')">
      <span class="fa fa-arrow-left"></span>
      Cancelar
    </button>
  </div>
</div><!--/.row-->
<!--Formulario-->
<div class="row justify-content-center" ng-hide="guarantee.id">
  <div class="col-md-8">
    <form class="form-inline justify-content-center" autocomplete="off"
      ng-submit="search()">
      <!--Select tipo-->
      <div class="form-group mb-2 mr-2">
        <label for="staticEmail2" class="col-form-label mr-2">
          Tipo:
        </label>
        <select class="form-control"
          ng-model="input.type">
          <option value="imei">Serie o IMEI</option>
          <option value="ticket">Número de garantía</option>
        </select>
      </div>
      <!--Caja de texto-->
      <div class="form-group mb-2 ml-2">
        <label class="col-form-label mr-2">
          Buscar:
        </label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="0000000000000000"
            ng-model="input.serie">
          <div class="input-group-append">
            <button type="submit" class="btn btn-outline-primary">
              <span class="fa fa-search"></span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!--Información de la garantía-->
<div ng-show="guarantee.id">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <h5 class="card-header">Datos de la garantía</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <dl class="row mb-0">
                <!--Ticket-->
                <dt class="col-sm-6 text-sm-right">Número de servicio</dt>
                <dd class="col-sm-6">{{guarantee.guideNumber}}</dd>
                <!--Vendedor-->
                <dt class="col-sm-6 text-sm-right">Vendedor</dt>
                <dd class="col-sm-6">{{guarantee.stock.seller.name}}</dd>
                <!--Modelo-->
                <dt class="col-sm-6 text-sm-right">Cliente</dt>
                <dd class="col-sm-6">{{guarantee.stock.client.name}}</dd>
                <!--Color-->
                <dt class="col-sm-6 text-sm-right">Fecha de venta</dt>
                <dd class="col-sm-6">{{getDateFormat(guarantee.stock.saleDate, 'L')}}</dd>
              </dl>
            </div>
            <div class="col-sm-6">
              <dl class="row mb-0">
                <!--IMEI-->
                <dt class="col-sm-6 text-sm-right">Número de serie/IMEI</dt>
                <dd class="col-sm-6">{{guarantee.stock.IMEI}}</dd>
                <!--Marca-->
                <dt class="col-sm-6 text-sm-right">Marca</dt>
                <dd class="col-sm-6">{{guarantee.stock.product.model.brand.name}}</dd>
                <!--Modelo-->
                <dt class="col-sm-6 text-sm-right">Modelo</dt>
                <dd class="col-sm-6">{{guarantee.stock.product.model.name}}</dd>
                <!--Color-->
                <dt class="col-sm-6 text-sm-right">Color</dt>
                <dd class="col-sm-6">{{guarantee.stock.product.color.name}}</dd>
              </dl>
            </div>
          </div>
        </div><!--/.card-body-->
      </div><!--/.card-->
    </div><!--/.col-md-8-->
  </div>
  <h5 class="text-center my-3">Ruta de la garantía</h5>
  <hr>
  <div class="row mt-4 justify-content-center">
    <div class="col-sm-8 p-0 route">
      <table class="">
        <thead>
          <tr>
            <th class="text-center"
              ng-class="guarantee.created ? 'active' : ''">
              Registro de garantía</th>
            <th class="text-center"
              ng-class="guarantee.entry ? 'active' : ''">
              Ingreso a garantía</th>
            <th class="text-center"
              ng-class="guarantee.departure ? 'active' : ''">
              En reparación</th>
            <th class="text-center"
              ng-class="guarantee.re-assigned ? 'active' : ''">
              Por devolver</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center"
              ng-class="guarantee.created ? 'active' : ''">
              <span class="fa"
                ng-class="guarantee.created ? 'fa-check' : 'fa-close'"></span>
            </td>
            <td class="text-center"
              ng-class="guarantee.entry ? 'active' : ''">
              <span class="fa"
              ng-class="guarantee.entry ? 'fa-check' : 'fa-close'"></span>
            </td>
            <td class="text-center"
              ng-class="guarantee.departure ? 'active' : ''">
              <span class="fa"
              ng-class="guarantee.departure ? 'fa-check' : 'fa-close'"></span>
            </td>
            <td class="text-center"
              ng-class="guarantee.re-assigned ? 'active' : ''">
              <span class="fa"
              ng-class="guarantee.re-assigned ? 'fa-check' : 'fa-close'"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Alerta-->
  <div class="row justify-content-center mt-4"
      ng-show="guarantee.status === 'canceled'">
      <div class="col-md-6 alert alert-danger" role="alert">
        <h4 class="alert-heading">¡Atención!</h4>
        <hr>
        <p>La garantía del equipo no fue aprobada, consulte a su ejecutivo de
          venta para obtener el dictamen de la garantía.</p>
      </div><!--/.col-md-6-->
    </div><!--/.row-->
</div>
<style>
  .route {
    background-color: #f8f9fa;
    border-radius: 1em;
    color: #ced4da;
    border: solid #ced4da 1px;
  }
  .route table {
    border-collapse: collapse;
    width: 100%;
  }
  .route table thead tr th:not(:first-child),
  .route table tbody tr td:not(:first-child) {
    border-left: solid #ced4da 3px;
  }
  .route table thead tr th,
  .route table tbody tr td {
    padding: 4px 0px 2px;
    width: 25%;
  }
  .route table thead tr th.active,
  .route table tbody tr td.active {
    background-color: #990559;
    color: #f5d5e7;
  }
  .route table thead tr th:first-child {
    border-top-left-radius: 1em;
  }
  .route table tbody tr td:first-child {
    border-bottom-left-radius: 1em;
  }
  .route table thead tr th:last-child {
    border-top-right-radius: 1em;
  }
  .route table tbody tr td:last-child {
    border-bottom-right-radius: 1em;
  }
</style>