<div class="row mb-3">
  <!--Filtros-->
  <div class="col-sm-9">
    <h4>Listado de bonificaciones para aprobación</h4>
  </div>
  <!--Botones-->
  <div class="col-sm-3 text-right">
    <button type="button" class="btn btn-dark btn-sm d-print-none" onclick="imprimir()"
      ng-disabled="busy">
      <span class="fas fa-print"></span>
      Imprimir
    </button>
  </div>
</div><!--/.row-->
<!--Loading-->
<div class="text-center my-5 py-5"
  ng-show="busy">
  <h4>
    <span class="fa fa-refresh fa-spin"></span>
    <small>procesando datos...</small>
  </h4>
</div>
<!--Lista de precios-->
<div ng-hide="busy">
  <div class="table-responsive-lg">
    <table class="table table-sm table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Número</th>
          <th scope="col">Vendedor</th>
          <th scope="col">Cliente</th>
          <th scope="col">Adeudo</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Producto</th>
          <th scope="col">Bonificacion c/u</th>
          <th scope="col">Total</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-hide="refunds.length">
          <td colspan="8" class="text-center">
            No se encontraron modelos
          </td>
        </tr>
        <tr ng-repeat="refund in refunds">
          <td class="text-center" scope="row">
            {{$index + 1}}
          </td>
          <td class="text-center">
            {{refund.name + ' ' + refund.lastName}}
          </td>
          <td>
            {{refund.client.name}}
          </td>
          <td>
            <h6 class="text-right">{{refund.client.debt | currency}}</h6>
          </td>
          <td class="text-center">
            {{refund.product.totalItems | number}}
          </td>
          <td ng-bind-html="setProductName(refund.product.name)"></td>
          <td class="text-center" style="width: 150px;">
            <div class="input-group input-group-sm mx-2">
              <input type="text" id="{{refund.product.idProduct}}" class="form-control text-right" aria-label=""
                format="currency"
                ng-disabled="refund.disable"
                ng-model="refund.product.refundPrice">
              <div class="input-group-append">
                <button type="button" class="btn btn-sm"
                  ng-class="refund.disable ? 'btn-outline-primary' : 'btn-outline-success'"
                  ng-click="toggleInput(seller, refund.product)">
                  <span class="fa"
                    ng-class="refund.disable ? 'fa-pencil-alt' : 'fa-save'"></span>
                </button>
              </div>
            </div>
          </td>
          <td>
            <h6 class="text-right">{{refund.product.total | currency}}</h6>
          </td>
          <td class="text-center text-nowrap">
            <button class="btn btn-success btn-sm"
              ng-click="acceptRefund(seller)">
              <span class="fas fa-check"></span>
            </button>
            <button class="btn btn-danger btn-sm"
              ng-click="cancelRefund(seller)">
              <span class="fas fa-close"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>