<div class="row mb-3">
  <!--Filtros-->
  <div class="col-sm-6">
    <h4>Registro de proveedores</h4>
  </div>
  <!--Botones-->
  <div class="col-sm-6 text-right">
    <a class="btn btn-secondary btn-sm" href="#" ng-click="$state.go(return.to)">
      <span class="fa fa-arrow-left"></span>
      Regresar
    </a>
  </div>
</div><!--/.row-->
<form name="formBilling" autocomplete="off"
  ng-submit="save()" class="needs-validation" novalidate>
  <div class="form-row">
    <div class="form-row form-group col-md-8">
      <label for="name" class="col-sm-5 col-form-label col-form-label-sm text-md-right">
        Razón social:
      </label>
      <div class="col-sm-7">
        <input type="text" name="name" class="form-control form-control-sm"
          required
          ng-model="provider.name">
        <div class="invalid-feedback">
          Debe registrar el nombre o la razón social del proveedor.
        </div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-sm" ng-class="billing ? 'btn-info' : 'btn-primary'"
        ng-click="toggleBilling()">
        <span class="fa" ng-class="billing ? 'fa-minus' : 'fa-plus'"></span>
        {{billing ? 'Quitar' : 'Agregar'}} datos físcales
      </button>
    </div>
  </div>
  <div id="billingData">
    <h5 class="text-md-center">Datos fiscales</h5>
    <div class="form-row">
      <label for="rfc" class="col-md-2 col-form-label col-form-label-sm text-md-right">
        R.F.C.:
      </label>
      <div class="col-md-4">
        <input type="text" id="rfc" class="form-control form-control-sm"
          ng-model="provider.rfc">
        <div class="invalid-feedback">El R.F.C. es invalido.</div>
      </div>
      <label for="inputState" class="col-md-3 col-form-label col-form-label-sm text-md-right">
        Tipo de persona:
      </label>
      <div class="col-md-3">
        <select id="inputState" class="form-control form-control-sm"
          ng-model="provider.type">
          <option value="">Selecciona una opción</option>
          <option value="fisica">Física</option>
          <option value="moral">Moral</option>
        </select>
        <div class="invalid-feedback">Debe elegir el tipo de persona.</div>
      </div>
    </div>
    <!--Dirección-->
    <div class="form-row mt-md-3">
      <label for="street" class="col-md-2 col-form-label col-form-label-sm text-md-right">
        Calle:
      </label>
      <div class="col-md-4">
        <input type="text" id="street" class="form-control form-control-sm"
          ng-model="provider.street">
        <div class="invalid-feedback">Escriba el nombre de la calle o avienida.</div>
      </div>
      <label for="extNumber" class="col-md-1 col-form-label col-form-label-sm text-md-right">
        # ext:
      </label>
      <div class="col-md-2">
        <input type="text" id="extNumber" class="form-control form-control-sm"
          ng-model="provider.extNumber">
        <div class="invalid-feedback">Escriba el número exterior o s/n.</div>
      </div>
      <label for="intNumber" class="col-md-1 col-form-label col-form-label-sm text-md-right">
        # int:
      </label>
      <div class="col-md-2">
        <input type="text" id="intNumber" class="form-control form-control-sm"
          ng-model="provider.intNumber">
        <div class="invalid-feedback">Escriba el número interior, piso o s/n.</div>
      </div>
    </div>
    <!--Código postal-->
    <div class="form-row mt-md-3">
      <label for="zipcode" class="col-md-3 col-form-label col-form-label-sm text-md-right">
        Código postal:
      </label>
      <div class="col-md-2">
        <input type="text" id="zipcode" class="form-control form-control-sm"
          ng-model="provider.zipcode">
        <div class="invalid-feedback">El código postal es invalido.</div>
      </div>
      <label for="colony" class="col-md-2 col-form-label col-form-label-sm text-md-right">
        Colonia:
      </label>
      <div class="col-md-5">
        <select id="colony" class="form-control form-control-sm">
          <option value="">Selecciona una opción</option>
          <option>Algo</option>
        </select>
        <div class="invalid-feedback">Debe elegir la colonia.</div>
      </div>
    </div>
    <!--Municipio y estado-->
    <div class="form-row mt-md-3">
      <label for="estate" class="col-md-2 col-form-label col-form-label-sm text-md-right">
        Estado:
      </label>
      <div class="col-md-4">
        <select id="colony" class="form-control form-control-sm">
          <option value="">Selecciona una opción</option>
          <option>Algo</option>
        </select>
        <div class="invalid-feedback">Debe elegir el estado.</div>
      </div>
      <label for="municipality" class="col-md-2 col-form-label col-form-label-sm text-md-right">
        Municipio:
      </label>
      <div class="col-md-4">
        <select id="colony" class="form-control form-control-sm">
          <option value="">Selecciona una opción</option>
          <option>Algo</option>
        </select>
        <div class="invalid-feedback">Debe elegir el municipio.</div>
      </div>
    </div>
    <!--Ciudad y pais-->
    <div class="form-row mt-md-3 mb-md-3">
      <label for="city" class="col-md-2 col-form-label col-form-label-sm text-md-right">
        Ciudad:
      </label>
      <div class="col-md-4">
        <input type="text" id="city" class="form-control form-control-sm"
          ng-model="provider.city">
        <div class="invalid-feedback">Escriba el nombre de la ciudad.</div>
      </div>
      <label for="country" class="col-md-2 col-form-label col-form-label-sm text-md-right">
        País:
      </label>
      <div class="col-md-4">
        <input type="text" id="country" class="form-control form-control-sm"
          ng-model="provider.country">
        <div class="invalid-feedback">Escriba el nombre del país.</div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 ml-md-3">
      <button type="submit" class="btn btn-success btn-sm">
        <span class="fa fa-arrow-right"></span>
        Guardar
      </button>
    </div>
  </div>
</form>
<div>
    {{formBilling.name.$valid}} / {{formBilling.name.$touched}}
  </div>