<div class="row mb-3">
  <!--Filtros-->
  <div class="col-sm-6">
    <h4>Proveedores registrados</h4>
  </div>
  <!--Botones-->
  <div class="col-sm-6 text-right">
    <a class="btn btn-primary btn-sm" ui-sref="admin.provider.add">
      <span class="fa fa-plus"></span>
      Registrar proveedor
    </a>
  </div>
</div><!--/.row-->
<!--Tabla de proveedores-->
<div class="table-responsive-md">
  <table class="table table-sm table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Razón social</th>
        <th scope="col">R.F.C.</th>
        <th scope="col">Tipo de persona</th>
        <th scope="col">Dirección fiscal</th>
        <th scope="col">Teléfono</th>
        <th scope="col">E-mail</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-hide="providers.length">
        <td colspan="8" class="text-center">
          No se encontraron ordenes de compra
        </td>
      </tr>
      <tr ng-repeat="provider in providers">
        <th scope="row" class="text-right">{{$index + 1}}</th>
        <td>{{provider.name}}</td>
        <td class="text-center">{{provider.rfc}}</td>
        <td class="text-center">{{provider.type}}</td>
        <td ng-bind-html="makeAddress(provider)"></td>
        <td>{{provider.phoneNumber | mxPhone}}</td>
        <td>{{provider.email}}</td>
        <td>
          <a ui-sref="admin.provider.edit({providerId: provider.id})" class="btn btn-warning btn-sm">
            <span class="fas fa-pencil-alt"></span>
          </a>
          <a href="#" class="btn btn-danger btn-sm">
            <span class="far fa-trash-alt"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>