<!--Breadcrumb-->
<div class="card">
  <div class="card-body">
    <div class="row page-titles" style="border-bottom: 0.4cm double #6b0559 ;">
        <div class="panel-heading collapsed pointer">
            <h3 class="text-themecolor">Asignaciones Cliente-Vendedor <span class="fa fa-group"></span></h3>
        </div>
    </div>&nbsp;
  </div>
</div>&nbsp;
<div class="card">
  <div class="card-body">
    <div class="row" style="padding-left:2cm; padding-right:2cm;" >
      <div class="col-lg-6" style="overflow:scroll; height:750px;width:200px; padding-left:1cm;">
        <form  class="user" name="radio" novalidate="" method="post">
          <div class="table-responsive" >
            <table class="table table table-striped table-condensed">
              <thead class="thead-light">
                <tr>
                   <th scope="col" colspan="3" class="thead-one " class="text-center" tyle="min-width: 115px;" style="height:2.5cm;border:radio"><h3>Selecciona tu Vendedor</h3>
                      <input type="checkbox"   ng-model="IsAllChecked"
                      class="form-check-input"  ng-change="selectAll()"
                       name="user"
                      id={{user.id}}>Seleccionar todo</th>
                </tr>
                 </thead>
                  <tbody >
                      <div  id="content" class="custom-control custom-checkbox d-inline">

                      <tr ng-repeat="user in sellers track by $index"  ng-show="IsAllChecked" ng-if="$index%2==0">

                        <!--primer columna-->
                          <td  class="text-left"  ng-if="$index < sellers.length">
                            <div class="form-group row" >
                             <label class="col-sm-10 col-form-label">{{sellers[$index].name}}</label>
                            <div class="col-sm-2">
                            <input type="checkbox" class="form-check-input" ng-model="sellers[$index].check"  ng-change="selectSeller(user)"
                            required="required"  name="user" >
                          </div>
                          </div>

                         </td>


                          <!--segunda columna-->
                          <td  class="text-left" ng-if="$index+1 < sellers.length">
                              <div class="form-group row" >
                              <label class="col-sm-10 col-form-label">{{sellers[$index+1].name}}</label>
                              <div class="col-sm-2">
                              <input type="checkbox" class="form-check-input" ng-model="sellers[$index+1].check"  ng-change="selectSeller(user)"
                               required="required"  name="user" >
                               </div>
                               </div>
                           </td>


                        </tr>
                        </div>
                    <tr  ng-repeat="user in sellers " ng-hide="IsAllChecked"  >
                                              <!--primer columna-->
                      <td  class="text-left"  >
                          <div class="form-group row" >
                              <label class="col-sm-10 col-form-label">{{user.name}}</label>
                             <div class="col-sm-2">
                                <input type="radio" class="case" ng-model="user.check" ng-click="selectSeller(user)"
                                 required="required"  name="user" >
                             </div>
                          </div>
                      </td>

                                                 <!--segunda columna
                          <td  class="text-right" ng-if="$index+1 < sellers.length">
                              <div class="form-group row" >
                              <label class="col-sm-10 col-form-label">{{sellers[$index+1].name}}</label>
                              <div class="col-sm-2">
                              <input type="radio" class="form-check-input" ng-model="sellers[$index+1].check"  ng-change="selectSeller(user)"
                               required="required"  name="user" >
                               </div>
                               </div>
                           </td>-->
                    </tr>
                  </tbody>
            </table>
          </div>
        </form>
      </div>


  <div  class="col-lg-6" style="overflow:scroll; height:750px;width:200px;padding-left:1cm; padding-top: 0.5cm; " >
    <form   class="needs-validation" novalidate method="post" >
      <div class="table-responsive" >
        <table class="table table table-striped table-condensed" >
          <thead class="thead-light">
            <tr>
              <th scope="col" colspan="2"class="thead-one" style="height:2.5cm;border:radio"><h3>Selecciona tu Cliente</h3> </th>
            </tr>
            <tr ng-repeat="billingSale in billingSale" >
                <td>
                    <div class="form-group row" >
                  <label class="col-sm-10 col-form-label"> {{billingSale.name}}  </label>
                  <div class="col-sm-2">
               <input type="checkbox"
                 ng-model="billingSale.idClient"
                  ng-click="selectSaleCounter(billingSale)" >
                </div>
              </div>
                </td>
            </tr>
          </thead>
            <tbody>

              <tr ng-hide="billings.length">
                <td colspan="8" class="text-center">
                    No se encontraron clientes.
                </td>
              </tr>
              <tr ng-repeat="billings in billings" ng-hide="IsAllChecked">
                  <td >
                  <div class="form-group row" >
                  <label class="col-sm-10 col-form-label"> {{billings.name}}  </label>
                  <div class="col-sm-2">
                  <input type="checkbox"
                   ng-model="billings.idClient" ng-checked="billings.accountStatus !== 'active'"
                   ng-disabled="billings.accountStatus != 'active'" ng-click="selectEntity(billings)" >
                   </div>
                   </div>
                  </td>
              </tr>

            </tbody>
        </table>
      </div>
    </form>
    <div class="col-lg-12 align-self-right pull-rigth text-right" style="position:relative">
      <div class="btn-group" role="group" aria-label="Basic example">
      </div>
    </div>
  </div>
  </div>
</div>
</div>

  <script type="text/javascript">


  $("#checkbox1").on("click", function() {
    $(".case").prop("checked", this.checked);
  });
</script>
