<!--Breadcrumb-->
<div class="card">
  <div class="card-body">
<div class="row page-titles" style="border-bottom: 0.4cm double #6b0559 ;">
    <div class=" panel-heading collapsed pointer">
        <h3 class="text-themecolor">Mis Asignaciones<span class="fa fa-group"></span></h3>
    </div>
    </div>&nbsp;

    <div class="col-lg-4">
        <form name="escaneo"  novalidate>
          <div  id="select" class="form-group">
            <select  class="place form-control form-control-sm" id="idSeller" ng-model="manager.id" ng-click="cutSellerr(manager.id)"
              ng-options="manager.id  as manager.name +'  ' + manager.lastName for manager in manager">
            </select>
          </div>
        </form>
      </div>
      </div>
      </div>&nbsp;

      <div class="card">
        <div class="card-body">
<div class="row" >
  <!--tabla de vendedores -->
  <div class="col-lg-6" >
    <div class="panel-body">
      <blockquote>
        <div class="table-responsive" style="padding-left:0.5cm;" >
          <table class="table table  table-condensed" >
            <thead class="thead-light">
              <tr>
                <h1>VENDEDORES</h1>
                </tr>
            </thead>
            <tbody >
              <tr ng-repeat="mysellers  in mysellers">
                <td  class="text-left" scope="row">
                      {{mysellers.name}} {{mysellers.lastName}}
                </td>
                <td>
                  <button type="submit" class="btn btn-info" ng-model="mysellers.idSeller" ng-click="selectSeller(mysellers)"><span class="far fa-eye"></span></button>
                  <button type="submit" class="btn btn-danger" ng-model="mysellers.idSeller" ng-click="selectSell(mysellers)"><span class="fa fa-trash"></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </blockquote>
    </div>
  </div>
       <!--tabla de clientes-->
  <div class="col-lg-6" >
        <blockquote>
          <div  class="table-responsive" style="padding-left:0.5cm;" >
            <form name="clientForm">
            <table class="table table  table-condensed" >
              <thead class="thead-light">
                <tr>
                  <h1>CLIENTES</h1>
                  </tr>
              </thead>
              <tbody >
                <tr ng-repeat="assignment in assignment">
                  <td class="text-left" scope="row">
                        {{assignment.client.name}}
                  </td>
                  <td>
                    <button type="submit" class="btn btn-danger"ng-model="billing.id" ng-click="check(assignment)" ><span class="fa fa-trash"></span></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
          </div>
        </blockquote>
    </div>
</div>
</div>
</div>
