<div class="row" style="margin-top:30px;">
    <!-- Column 1: ventas totales -->
    <div class="col-lg-3 col-md-6">
        <div class="box card">
            <div class=" card-body">
                <h5 class="card-title">VENTAS TOTALES</h5>
                <div class="d-flex no-block align-items-center m-t-20 m-b-20">
                    <div id="sparklinedash"><i class="fa fa-money icon-lg" style="font-size: 40PX; color:#00c292;"></i></div>
                    <div class="ml-auto">
                        <h2 class="text-success"><i class="ti-arrow-up"></i> <span class="counter">$10,000000</span></h2>
                    </div>
                </div>
            </div>
            <div id="sparkline8" class="sparkchart"></div>
        </div>
    </div><!--End column 1-->
  
    <!-- Column 2: Total de vendedores -->
    <div class="col-lg-3 col-md-6">
        <div class="box card">
            <div class=" card-body">
                <h5 class="card-title">VENDEDORES</h5>
                <div class="d-flex no-block align-items-center m-t-20 m-b-20">
                    <div id="sparklinedash2"><i class="fa fa-users icon-lg text-purple" style="font-size: 40PX;"></i></div>
                    <div class="ml-auto">
                        <h2 class="text-purple"><i class="ti-arrow-up"></i> <span class="counter">7469</span></h2>
                    </div>
                </div>
            </div>
            <div id="sparkline8" class="sparkchart"></div>
        </div>
    </div><!--End column 2-->
  
    <!-- Column 3: Devoluciones -->
    <div class="col-lg-3 col-md-6">
        <div class="box card">
            <div class=" card-body">
                <h5 class="card-title">GARANTÍAS</h5>
                <div class="d-flex no-block align-items-center m-t-20 m-b-20">
                    <div id="sparklinedash3"><i class="fa fa-thumbs-down icon-lg text-info" style="font-size: 40PX;"></i></div>
                    <div class="ml-auto">
                        <h2 class="text-info"><i class="ti-arrow-up"></i> <span class="counter">6011</span></h2>
                    </div>
                </div>
            </div>
            <div id="sparkline8" class="sparkchart"></div>
        </div>
    </div><!--End column 3-->
  
    <!-- Column 4: Nota de remisión-->
    <div class="col-lg-3 col-md-6">
        <div class="box card">
            <div class=" card-body">
                <h5 class="card-title">NOTAS DE REMISIÓN</h5>
                <div class="d-flex no-block align-items-center m-t-20 m-b-20">
                    <div id="sparklinedash4"><i class="fa fa-clone icon-lg text-danger" style="font-size: 40PX;"></i></div>
                    <div class="ml-auto">
                        <h2 class="text-danger"><i class="ti-arrow-down"></i> <span class="counter">10,000</span></h2>
                    </div>
                </div>
            </div>
            <div id="sparkline8" class="sparkchart"></div>
        </div>
    </div><!-- End column 4 -->
  </div>
  <br>
  
  
  <div class="col-md-12">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs customtab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active show" data-toggle="tab" href="#sale" role="tab" aria-selected="true">
            <span class="hidden-sm-up"><i class="fa fa-money icon-lg"></i></span>
            <span class="hidden-xs-down">Ventas realizadas</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile2" role="tab" aria-selected="false">
            <span class="hidden-sm-up"><i class="fa fa-calendar-o"></i></span>
            <span class="hidden-xs-down">Historial Ventas</span>
          </a>
        </li>
      
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active show" id="sale" role="tabpanel">
          <div class="p-20">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="thead-light">
                  <tr>
                    <th class="thead-one">Folio</th>
                    <th  class="thead-one">Vendedor</th>
                    <th  class="thead-one">Cliente</th>
                    <th  class="thead-one">Fecha</th>
                    <th  class="thead-one">Total</th>
                    <th class="  thead-one text-center">Estatus</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="debts in debts">
                    <td><a href="javascript:void(0)" class="link"> Orden #53431</a></td>
                    <td>{{debts.seller.name}} {{debts.seller.lastName}}</td>
                    <td>cbvbcvb</td>
                    <td><span class="text-muted"><i class="fa fa-clock-o"></i> Sept 17, 2018</span></td>
                    <td>$45.00</td>
                    <td class="text-center"><div class="label label-table label-success">Pagado</div></td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div><!--End tab-pane 1-->
        <div class="tab-pane p-20" id="profile2" role="tabpanel">
            <div class="container ">
                <h2>Historial Ventas</h2>
                <div id="reportrange" class="col-lg-4 "style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down pull-right"></i>
                </div>&nbsp;
                  <div class="row">
                  <div class="form-group col-lg-6" >
                    <label for="sel1">Slecciona Vendedor</label>
                    <select class="form-control form-control-sm" required
                    ng-model="formFilters.seller"
                    ng-options="res.seller.id as res.seller.name +'' + res.seller.lastName for res in res">
                    <option value="">{{res.seller.name}} {{res.seller.latName}}</option>
                  </select>
                  </div>
                    <br>
                    <div class="form-group col-lg-6" >
                    <label for="sel2">Selecciona Cliente</label>
                    <select class="form-control form-control-sm" required
                    ng-model="formFilters.client"
                    ng-options="res.client.id as res.client.name for res in res">
                    <option value="">{{res.client.name}}</option>
                  </select>
                  </div>
                </div>
               <!-- <div class="form-row">
                    <label for="rfc" class="col-md-2 col-form-label col-form-label-sm text-md-right">
                      Marca:
                    </label>
                    <div class="col-md-3" ng-controller="BrandList">
                        <select class="form-control form-control-sm" required
                        ng-model="formFilters.brand"
                        ng-options="brand.id as brand.name for brand in brands"
                        >
                        <option value="" >{{brand.name}}</option>
                      </select>
                        <div class="invalid-feedback">Debe elegir la marca.</div>
                      </div>
                    <label for="inputState" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                      Modelo:
                    </label>
                    <div class="col-md-3">
                      <select id="inputState" class="form-control form-control-sm" required
                  
                        >
                        <option value="" ng-repeat="brand in brands" >{{brand.model.name}}</option>
                      </select>
                      <div class="invalid-feedback">Debe elegir el modelo.</div>
                    </div>
                  </div>-->
                <div class="container" >
                    <h2>Detalles</h2>
                    <table class="table table-striped">
                      <thead class="thead-light">
                        <tr>
                            <th  class="thead-one">Nombre Vendedor</th>
                            <th  class="thead-one">Nombre Cliente</th>
                            <th  class="thead-one">Marca</th>
                          <th  class="thead-one">Modelo</th>
                          <th  class="thead-one">Total Equipos</th>
                          <th  class="thead-one">Credito</th>
                          <th  class="thead-one">Contado</th>                          
                          <th  class="thead-one">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="seller in sellers"  >
                            <td  align="center">{{seller.seller.name}}</td>
                            <td  align="center">{{seller.client.name}}</td>
                            <td  align="center">{{seller.order.orderhasproduct.brand.name}}</td>
                            <td  align="center">{{seller.model.name}}</td>
                            <td align="center" scope="row">{{seller.order.totalItems}}</td>
                          <td  align="center">{{seller.order.credit}}</td>
                          <td  align="center">{{seller.order.cash}}</td>
                          <td align="center">{{seller.order.total}}</td>
                        </tr>

                        <tr ng-repeat="client in clients"  >
                            <td  align="center">{{client.seller.name}}</td>
                            <td  align="center">{{client.client.name}}</td>
                            <td  align="center">{{client.brand.name}}</td>
                            <td  align="center">{{client.model.name}}</td>
                            <td  align="center" scope="row">{{client.order.totalItems}}</td>
                            <td  align="center">{{client.order.credit}}</td>
                            <td  align="center">{{client.order.cash}}</td>
                            <td align="center">{{client.order.total}}</td>
                          </tr>

                          <tr ng-repeat="brand in brands"  >
                              <td  align="center">{{brand.client.name}}</td>
                              <td  align="center">{{brand.brand.name}}</td>
                            <td  align="center">{{brand.model.name}}</td>
                              <td align="center" scope="row">{{brand.order.totalItems}}</td>
                              <td  align="center">{{brand.order.credit}}</td>
                              <td  align="center">{{brand.order.cash}}</td>
                              <td align="center">{{brand.order.total}}</td>
                            </tr>
            <!--<tr>
                <td colspan="1" class="text-center"><h2> Totales:</h2></td>
                <td  align="center"><h5>{{granTotalI}}</h5></td>
                <td  align="center"><h5>${{granTotalC}}</h5></td>
                <td  align="center"><h5>${{granTotalE}}</h5></td>
                <td  align="center"><h5>${{granTotal}}</h5></td>
              </tr>-->
                      </tbody>
                    </table>
            </div>
        <div class="tab-pane p-20" id="messages2" role="tabpanel">3</div>
      </div><!--End tab-content-->
    </div><!--End card-->
  </div><!--End col-md-12-->
  <script type="text/javascript">
    $(function() {
    
        var start = moment().subtract(29, 'days');
        var end = moment();
    
        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
    
        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
               'Hoy': [moment(), moment()],
               'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
               'Ultimos 7 Dias': [moment().subtract(6, 'days'), moment()],
               'Ultomos 30 Dias': [moment().subtract(29, 'days'), moment()],
               'Este Mes': [moment().startOf('month'), moment().endOf('month')],
               'Mes Pasado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
    
        cb(start, end);
    
    });
    </script>&nbsp;
   
 
  