                  <div>  
                    <h5 class="card-title">Escaneo de IMEI &nbsp;<span class="fa fa-barcode"></span></h5>
                      <div class="table "   >
                              <form  class="user" novalidate="" method="post">
                             
<!--Nombre-->
<div class=" form-row mt-md-3 ">
<div class="encabezado13 col-lg-4">
<div class="form-row form-group">
<label for="name" style="font-weight: bold;"  class="col-sm-3 col-form-label col-form-label-sm text-sm-right">
<span></span>
Almacen:&nbsp;
</label>

</div>
</div>

<!--Fecha-->                        
<div class=" encabezado13 col-lg-4 ">                    
<div class="form-row form-group">
<label for="lastName" class=" col-sm-4 col-form-label col-form-label-sm text-sm-right" style="font-weight: bold;">
         Fecha:&nbsp;{{fecha}}
                      </label>
                    </div>
                  </div> 
                    <!--Total Equipos-->
                    <div class=" encabezado13 col-lg-4  pull-right">
                            <div class="form-row form-group">
                              <label for="lastName" style="font-weight: bold;" class="col-sm-4 col-form-label col-form-label-sm text-sm-right">
                                Total Equipos :
                              </label>
                            </div>
                          </div>
</div>
</div>

                  

    <!--Formulario para buscar el IMEI del producto-->
    <div>
    <form name="form-inventory"     ng-submit="processIMEI()"  class="form-horizontal center-block">
     <div class=" form-row mt-md-3 col-xl-12" >
    <div class="col-lg-6">
      <div class="  input-group mb-6 mr-sm-6">
       <div class="input-group-prepend">
        <div class=" cut input-group-text" style="color:white" >IMEI</div>
       </div>
       <input type="text" class="form-control"   id="IMEI"   ng-model="inventory.IMEI" >
       <div class=" input-group-btn">
         <button type="submit"  class="cut btn btn-default" style="color:white"
       ><span  style="white-space: nowrap;">Ingresar</span></button>
       </div>
     </div>
    </div>              
   </form><!--End form-->
</div>&nbsp;
      

                            <div class="table-responsive"  >
                            <table class="table table table-striped table-condensed" >
                              <thead class="thead-light">
                                <tr>
                                <th scope="col" class="thead-one ">IMEI</th>
                                <th scope="col" class="thead-one ">Marca</th>
                                  <th scope="col" class="thead-one ">Modelo</th>
                                  <th scope="col" class="thead-one ">Color</th>
                                </tr>
                              </thead>
                              <tbody >
                              <tr>
                                  <td  class="text-left" scope="row">{{imeis}} </td>
                                  <td  class="text-left" scope="row">Samsung</td> 
                                  <td  class="text-left" scope="row">s9+</td>
                                  <td  class="text-left" scope="row">Morado</td> 
                                  </tr>
                                  <tr  >
                                        <td  class="text-left" scope="row">355630086607392 </td>
                                        <td  class="text-left" scope="row">Samsung</td> 
                                        <td  class="text-left" scope="row">s9+</td>
                                        <td  class="text-left" scope="row">Morado</td> 
                                        </tr>
                                  </tr>
                              </tbody>
                            </table>
                          </div>
                            </tbody>
                            <button type="button" class="btn btn-success pull-right">Registrar</button>
                          </form>
                          </div> 
                        </div>



