<div class="row mb-3">
  <!--Sección-->
  <div class="col-sm-9">

  </div>
  <!--Botones-->
  <div class="col-sm-3 text-right">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary btn-sm noprint"
        ng-disabled="busy"
        ng-click="$state.go('admin.cut.list')">
        <span class="fa fa-arrow-left"></span>
        Regresar
      </button>
      <button class="btn btn-primary pull-right noprint" style="height:auto;" onclick="imprimir()" >
        <i class="fas fa-print"></i> Imprimir
      </button>
    </div>
  </div>
</div>

<div class="table">
  <div class="row">
    <div class="col-md-12">

      <table class="table table-sm table-striped table-bordered" id="printTable">
        <thead class="thead-light">
          <tr>
            <th colspan="6" class="titleWhite">Reporte de equipos</th>
          </tr>
          <tr>
            <th colspan="3" class="texth"><p class="nameSeller">Ejecutivo: {{seller}}</p></th>
            <th colspan="3" class="texth">Fecha: Fecha: {{getDateFormat(date, 'L')}}</th>
          </tr>
          <tr>
            <th colspan="3" class="texth">Atendido por: {{currentUser.name}} {{currentUser.lastName}}</th>
            <th colspan="3" class="texth">Número total de equipos: {{totalEquipment}}</th>
          </tr>
          <tr>
            <th scope="col" class="text-center texth" tyle="min-width: 115px;">IMEI</th>
            <th scope="col" class="texth">Cliente</th>
            <th scope="col" class="texth" style="min-width: 115px;">IMEI</th>
            <th scope="col" class="texth">Cliente</th>
            <th scope="col" class="texth" style="min-width: 115px;">IMEI</th>
            <th scope="col" class="texth">Cliente</th>
          </tr>
        </thead>
        <tbody ng-repeat="stock in stocks">
          <tr ng-hide="stocks.length">
            <td colspan="6" class="text-center">No tienes equipos asigandos</td>
          </tr>
          <tr>
            <td colspan="6">
              <span class="double text-left"><b>{{stock.model}}</b></span>
              <div class="number text-primary pull-right">{{stock.total}} Pza(s).</div>
            </td>
          </tr>

          <tr ng-repeat="itemImei in stock.stocks track by $index" ng-if="$index%3==0">
            <!--Primer columna-->
            <td class="text-center"  width="21%">
              <span class="text-center double" ng-bind-html="makeSerial(stock.stocks[$index].imei)"></span>
              <span class="double" ng-if="stock.stocks[$index].isRefurb">**</span></td>
            <td  width="10%"></td>
            <!--Segunda columna-->
            <td class="text-center"  width="21%">
              <span class="text-center double" ng-bind-html="makeSerial(stock.stocks[$index+1].imei)"></span>
              <span class="double" ng-if="stock.stocks[$index+1].isRefurb">**</span></td>
            <td  width="10%"></td>
            <!--Tercer columna-->
            <td class="text-center"  width="21%">
              <span class="text-center double" ng-bind-html="makeSerial(stock.stocks[$index+2].imei)"></span>
              <span class="double" ng-if="stock.stocks[$index+2].isRefurb">**</span></td>
            <td  width="10%"></td>
          </tr>

          </tbody>
        </table>

    </div><!--/.col-md-12-->
  </div><!--End row-->

</div>
