<!--Subtitulo-->
<div class="row mb-3">
  <!--Sección-->
  <div class="col-sm-9">
    <h4>Captura de IMEIs</h4>
  </div>
  <!--Botones-->
  <div class="col-sm-3 text-right">
    <button type="button" class="btn btn-secondary btn-sm"
      ng-disabled="busy"
      ng-click="$state.go('admin.assignment.list')">
      <span class="fa fa-arrow-left"></span>
      Regresar
    </button>
  </div>
</div><!--/.row-->
<!--Datos de la asignación-->
<div class="row mb-4 justify-content-center">
  <div class="col-md-10 col-lg-6">
    <div class="card">
      <h5 class="card-header px-3 text-center">
        <small>Orden: </small>
        {{assignment.number}}
      </h5>
      <div class="card-body p-3">
        <dl class="row mb-0">
          <!--Origen-->
          <dt class="col-sm-4 col-md-5 text-sm-right">Almacén de origen:</dt>
          <dd class="col-sm-8 col-md-7">{{assignment.origin.name}}</dd>
          <!--Remitente-->
          <dt class="col-sm-4 col-md-5 text-sm-right">Enviado por:</dt>
          <dd class="col-sm-8 col-md-7">{{assignment.sender.name + ' ' + assignment.sender.lastName}}</dd>
          <!--Destino-->
          <dt class="col-sm-4 col-md-5 text-sm-right">Almacén de destino:</dt>
          <dd class="col-sm-8 col-md-7">{{assignment.destiny.name}}</dd>
          <!--Destinatario-->
          <dt class="col-sm-4 col-md-5 text-sm-right"
            ng-show="assignment.receiver">Recibido por:</dt>
          <dd class="col-sm-8 col-md-7"
            ng-show="assignment.receiver">{{assignment.receiver.name + ' ' + assignment.receiver.lastName}}</dd>
          <!--Fecha de envío-->
          <dt class="col-sm-4 col-md-5 text-sm-right">Fecha de envío:</dt>
          <dd class="col-sm-8 col-md-7">{{getDateFormat(assignment.created, 'L')}}</dd>
          <!--Fecha de recepción-->
          <dt class="col-sm-4 col-md-5 text-sm-right">Fecha de entrega:</dt>
          <dd class="col-sm-8 col-md-7">{{getDateFormat(assignment.received, 'L')}}</dd>
        </dl>
      </div><!--/.card-body-->
      <div class="card-footer text-center bg-danger"
        ng-show="assignment.status === 'canceled'">
        <h5 class="text-white">Traspaso cancelado</h5>
      </div>
    </div>
  </div>
</div><!--/.row-->
<!--Captura de IMEI-->
<div class="row justify-content-center"
  ng-show="validate('ab')">
  <div class="col-md-6">
    <form name="formImei" autocomplete="off"
      ng-submit="save()" class="needs-validation" novalidate>
      <div class="custom-control custom-checkbox text-right" ng-show="assignment.status === 'open'">
        <input type="checkbox" class="custom-control-input" id="customSwitch1"
          ng-model="input.toggleSave">
        <label class="custom-control-label" for="customSwitch1">Escanear para eliminar</label>
      </div>
      <div class="form-group">
        <label for="" class="col-form-label">
          Número de serie/IMEI:
        </label>
        <input type="text" id="imei" class="form-control text-center"
          placeholder="000000000000000" autofocus
          ng-model="input.serie">
        <div class="form-text text-muted text-right">
          Último número de serie registrado:
          <span class="text-danger" ng-bind-html="makeSerial(input.lastSerie)"></span>
        </div>
      </div>
    </form>
  </div><!--/.col-sm-6-->
</div>
<!--Tabla de marcas y tabla de modelos-->
<div class="row">
  <div class="col-md-6">
    <!--Lista de marcas-->
    <table class="table table-sm table-striped table-bordered">
      <thead class="thead-light">
        <tr>
          <th colspan="3">Resumen por marca</th>
        </tr>
        <tr>
          <th scope="col">Número</th>
          <th scope="col">Marca</th>
          <th scope="col">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-hide="brands.length">
          <td colspan="3" class="text-center">
            No se ha registrado marcas
          </td>
        </tr>
        <tr ng-repeat="brand in brands">
          <td class="text-right">{{$index + 1}}</td>
          <td class="text-left">{{brand.name}}</td>
          <td class="text-left">{{brand.count}}</td>
        </tr>
      </tbody>
    </table>
  </div><!--/.col-md-6-->
  <div class="col-md-6">
    <!--Lista de marcas-->
    <table class="table table-sm table-striped table-bordered">
      <thead class="thead-light">
        <tr>
          <th colspan="4">Resumen por marca y modelo</th>
        </tr>
        <tr>
          <th scope="col">Número</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-hide="models.length">
          <td colspan="4" class="text-center">
            No se ha registrado modelos
          </td>
        </tr>
        <tr ng-repeat="model in models">
          <td class="text-right">{{$index + 1}}</td>
          <td class="text-left">{{model.brand.name}}</td>
          <td class="text-left">{{model.name}}</td>
          <td class="text-left">{{model.count}}</td>
        </tr>
      </tbody>
    </table>
  </div><!--/.col-md-6-->
</div>
<!---->
<!--Lista de marcas-->
<div class="table-responsive-lg mt-3">
  <table class="table table-sm table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">Número</th>
        <th scope="col">Número de serie</th>
        <th scope="col">Modelo</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-hide="brands.length">
        <td colspan="3" class="text-center">
          No se ha registrado equipos
        </td>
      </tr>
      <tr ng-repeat="sv in assignment.stockValidate">
        <td class="text-right">{{$index + 1}}</td>
        <td class="text-center">
          <span class="fa" ng-class="sv.validate ? 'fa-check text-success' : 'fa-close text-danger'"></span>
          {{sv.stock.IMEI}}
        </td>
        <td class="text-left">{{sv.stock.product.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!--Terminar captura-->
<div class="text-center">
  <button type="button" class="btn btn-outline-danger btn-sm"
    ng-show="validate('abc')"
    ng-click="cancel()">
    <span class="fa fa-close"></span>
    Cancelar traspaso
  </button>
  <button type="button" class="btn btn-outline-success btn-sm"
    ng-disabled="stocks.length <= 0"
    ng-show="validate('a')"
    ng-click="close()">
    <span class="fa fa-key"></span>
    Terminar la captura
  </button>
  <button type="button" class="btn btn-outline-success btn-sm"
    ng-show="validate('b')"
    ng-click="receive()">
    <span class="fa fa-check"></span>
    Aceptar traspaso
  </button>
</div>
<!--Audio-->
<audio id="positive" preload="auto">
  <source src="assets/sfx/342749__rhodesmas__notification-01.mp3" type="audio/mpeg">
</audio>
<audio id="negative" preload="auto">
  <source src="assets/sfx/142608__autistic-lucario__error.mp3" type="audio/mpeg">
</audio>
