<div class="row mb-3">
  <!--Título-->
  <div class="col-sm-12 col-md-8">
    <h4>Almacenes registrados.</h4>
  </div><!--/.col-sm-6-->
  <!--Botones-->
  <div class="col-sm-12 col-md-4 text-right">
    <a class="btn btn-primary btn-sm" ui-sref="admin.warehouse.add">
      <span class="fa fa-plus"></span>
      Agregar un almacén
    </a>
  </div><!--/.col-sm-6-->
</div><!--/.row-->
<!--Lista de almacenes-->
<div class="table-responsive-lg">
  <table class="table table-sm table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">Número</th>
        <th scope="col">Almacén</th>
        <th scope="col">Tipo</th>
        <th scope="col">Ubicación</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-hide="warehouses.length">
        <td colspan="5" class="text-center">
          No se encontraron almacenes
        </td>
      </tr>
      <tr ng-repeat="warehouse in warehouses">
        <td class="text-center" scope="row">
          {{$index + 1}}
        </td>
        <td class="text-center">
          {{warehouse.name}}
        </td>
        <td class="text-center">
          {{warehouse.type === 'place' ? 'Lugar o eficio' : 'Ruta de venta'}}
        </td>
        <td class="text-center">
          {{warehouse.address}}
        </td>
        <td class="text-center text-nowrap">
          <button class="btn btn-primary btn-sm"
            ng-disabled="warehouse.isMain"
            ng-click="$state.go('admin.warehouse.edit', {warehouseId: warehouse.id})">
            <span class="fas fa-pencil-alt"></span>
          </button>
          <button class="btn btn-danger btn-sm"
            ng-disabled="warehouse.products.length || warehouse.isMain"
            ng-click="delete(warehouse)">
            <span class="far fa-trash-alt"></span>
          </button>
          <button type="button" class="btn btn-outline-primary btn-sm" title="administrar usuarios"
            ng-show="checkAccess('adwa') && warehouse.type === 'place'"
            ng-click="$state.go('admin.warehouse.manage', {warehouseId: warehouse.id})">
            <span class="fa fa-user-plus"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--Paginación-->
<div ng-include="'views/common/pagination.html'"></div>