<div class="row mb-3">
  <!--Título-->
  <div class="col-sm-12 col-md-8">
    <h4>Colores registrados.</h4>
  </div><!--/.col-sm-6-->
  <!--Botones-->
  <div class="col-sm-12 col-md-4 text-right">
    <a class="btn btn-primary btn-sm" ui-sref="admin.color.add">
      <span class="fa fa-plus"></span>
      Agregar un color
    </a>
  </div><!--/.col-sm-6-->
</div><!--/.row-->
<!--Lista de colores-->
<div class="table-responsive-lg">
  <table class="table table-sm table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">Número</th>
        <th scope="col">Color</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-hide="colors.length">
        <td colspan="3" class="text-center">
          No se encontraron colores
        </td>
      </tr>
      <tr ng-repeat="color in colors">
        <td class="text-center" scope="row">
          {{$index + 1}}
        </td>
        <td class="text-center">
          {{color.name}}
        </td>
        <td class="text-center text-nowrap">
          <button class="btn btn-danger btn-sm"
            ng-disabled="color.products.length"
            ng-click="delete(color)">
            <span class="far fa-trash-alt"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--Paginación-->
<div ng-include="'views/common/pagination.html'"></div>