<!--Subtitulo-->
<div class="row mb-3">
  <!--Sección-->
  <div class="col-sm-9">
    <h4>Registro de productos para captura</h4>
  </div>
  <!--Botones-->
  <div class="col-sm-3 text-right">
    <button type="button" class="btn btn-secondary btn-sm"
      ng-disabled="busy"
      ng-click="$state.go('admin.batch.list')">
      <span class="fa fa-arrow-left"></span>
      Cancelar
    </button>
  </div>
</div><!--/.row-->
<!--Loading-->
<div class="text-center my-5 py-5"
  ng-show="busy">
  <h4>
    <span class="fa fa-refresh fa-spin"></span>
    <small>procesando datos...</small>
  </h4>
</div>
<!--Formulario-->
<div class="row justify-content-center"
  ng-hide="busy">
  <div class="col-md-8">
    <form name="formBatch" autocomplete="off"
      ng-submit="save()" class="needs-validation" novalidate>
      <!--Tipo de producto-->
      <div class="form-row form-group">
        <label class="col-form-label col-form-label-sm text-sm-right col-sm-3">
          <span>*</span>
          Producto:
        </label>
        <div class="col-sm-8 col-md-9">
          <select class="form-control form-control-sm" required
            ng-model="batch.product.idProductType"
            ng-options="productType.id as productType.name for productType in productTypes">
            <option value="">Selecciona una opción</option>
          </select>
          <div class="invalid-feedback">
            Debe seleccionar un tipo de producto.
          </div>
        </div>
      </div>
      <!--Marca-->
      <div class="form-row form-group">
        <label class="col-form-label col-form-label-sm text-sm-right col-sm-3">
          <span>*</span>
          Marca:
        </label>
        <div class="col-sm-8 col-md-9">
          <select class="form-control form-control-sm" required
            ng-model="batch.product.idBrand"
            ng-options="brand.id as brand.name for brand in brands">
            <option value="">Selecciona una opción</option>
          </select>
          <div class="invalid-feedback">
            Debe seleccionar una marca de la lista.
          </div>
        </div>
      </div>
      <!--Modelo-->
      <div class="form-row form-group">
        <label class="col-form-label col-form-label-sm text-sm-right col-sm-3">
          <span>*</span>
          Modelo:
        </label>
        <div class="col-sm-8 col-md-9">
          <select class="form-control form-control-sm" required
            ng-model="batch.product.idProductModel"
            ng-options="model.id as model.name for model in models">
            <option value="">Selecciona una opción</option>
          </select>
          <div class="invalid-feedback">
            Debe seleccionar un modelo de la lista.
          </div>
        </div>
      </div>
      <!--Color-->
      <div class="form-row form-group">
        <label class="col-form-label col-form-label-sm text-sm-right col-sm-3">
          <span>*</span>
          Color:
        </label>
        <div class="col-sm-8 col-md-9">
          <select class="form-control form-control-sm" required
            ng-model="batch.product.idColor"
            ng-options="color.id as color.name for color in colors">
            <option value="">Selecciona una opción</option>
          </select>
          <div class="invalid-feedback">
            Debe seleccionar un color de la lista.
          </div>
        </div>
      </div>
      <!--Variante-->
      <div class="form-row form-group">
        <label class="col-form-label col-form-label-sm text-sm-right col-sm-3">
          <span>*</span>
          {{variant.name}}:
        </label>
        <div class="col-sm-8 col-md-9">
          <select class="form-control form-control-sm" required
            ng-model="batch.product.idVariantOption"
            ng-options="option.id as option.value for option in variant.options">
            <option value="">Selecciona una opción</option>
          </select>
          <div class="invalid-feedback">
            Debe seleccionar una variante de la lista.
          </div>
        </div>
      </div>
      <!--Botón guardar-->
      <div class="form-row form-group justify-content-end">
        <div class="col-sm-9">
          <button type="submit" class="btn btn-success btn-sm">
            <span class="fa fa-arrow-right"></span>
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>