<!--Subtitulo-->
<div class="row mb-3">
  <!--Sección-->
  <div class="col-sm-9">
    <h4>Registro de ordenes de compra</h4>
  </div>
  <!--Botones-->
  <div class="col-sm-3 text-right">
    <button type="button" class="btn btn-secondary btn-sm"
      ng-disabled="progress !== 100"
      ng-click="$state.go('admin.batch.list')">
      <span class="fa fa-arrow-left"></span>
      Cancelar
    </button>
  </div>
</div><!--/.row-->
<!--Loading-->
<div class="text-center my-5 py-5"
  ng-show="busy">
  <h4>
    <span class="fa fa-refresh fa-spin"></span>
    <small>procesando datos...</small>
  </h4>
</div>
<div class="row"
  ng-hide="busy">
  <!--Tarjeta del producto-->
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <h5 class="col-sm-6"
            ng-if="batch.product"
            ng-bind-html="setProductName(batch.product.name)"></h5>
          <div class="col-sm-6 text-right">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <span class="fas fa-pencil-alt"></span>
              Configurar caja
            </button>
          </div>
        </div>
      </div>
      <div id="collapseOne" class="collapse">
        <!--Datos del lote-->
        <div class="card-body">
          <form>
            <!--Longitud del número de serie-->
            <div class="form-group form-row">
              <label class="col-sm-5 col-md-12 col-lg-6 col-form-label col-form-label-sm text-sm-right">
                Tamaño del número de serie:
              </label>
              <div class="col-sm-7 col-md-12 col-lg-6">
                <div class="input-group input-group-sm">
                  <input type="number" id="serie" class="form-control form-control-sm"
                    ng-disabled="serieFlg"
                    ng-model="batch.product.serieLength">
                  <div class="input-group-append">
                    <button class="btn btn-sm" type="button"
                      ng-class="serieFlg ? 'btn-outline-primary' : 'btn-outline-success'"
                      ng-click="updateSerie()">
                      <span class="fa" ng-class="serieFlg ? 'fa-gears' : 'fa-check'"></span>
                      {{serieFlg ? 'Cambiar' : 'Guardar'}}
                    </button>
                  </div>
                </div>
              </div>
            </div><!--/.row-->
            <!--Productos por caja-->
            <div class="form-group form-row mb-0">
              <label class="col-sm-5 col-md-12 col-lg-6 col-form-label col-form-label-sm text-sm-right">
                Equipos por caja:
              </label>
              <div class="col-sm-7 col-md-12 col-lg-6">
                <div class="input-group input-group-sm">
                  <input type="number" id="box" class="form-control form-control-sm"
                    ng-disabled="boxFlg"
                    ng-model="batch.boxSize">
                  <div class="input-group-append">
                    <button class="btn btn-sm" type="button"
                      ng-class="boxFlg ? 'btn-outline-primary' : 'btn-outline-success'"
                      ng-click="updateBox()">
                      <span class="fa" ng-class="boxFlg ? 'fa-gears' : 'fa-check'"></span>
                      {{boxFlg ? 'Cambiar' : 'Guardar'}}
                    </button>
                  </div>
                </div>
              </div>
            </div><!--/.row-->
          </form>
        </div>
      </div>
      <div class="card-footer text-right">
        <button type="button" class="btn btn-danger btn-sm mr-2"
          ng-disabled="!batch.stocks.length"
          ng-click="deleteAll()">
          <span class="fa fa-trash"></span>
          Borrar números de serie
        </button>
      </div><!--/.card-footer-->
    </div><!--/.card-->
  </div><!--/.col-sm-6-->
  <!--Stock del lote-->
  <div class="col-md-6">
    <!--Formulario de registro-->
    <form name="formImei" autocomplete="off"
      ng-submit="save()" class="needs-validation" novalidate>
      <div class="custom-control custom-checkbox text-right">
        <input type="checkbox" class="custom-control-input" id="customSwitch1"
          ng-model="input.toggleSave">
        <label class="custom-control-label" for="customSwitch1">Escanear para eliminar</label>
      </div>
      <div class="form-group">
        <label for="" class="col-form-label">
          Número de serie/IMEI:
        </label>
        <input type="text" id="imei" class="form-control text-center"
          placeholder="000000000000000" autofocus
          ng-disabled="stocks.length === batch.boxSize"
          ng-model="input.serie">
        <div class="form-text text-muted text-right">
          Último número de serie registrado:
          <span class="text-danger" ng-bind-html="makeSerial(input.lastSerie)"></span>
        </div>
      </div>
    </form>
  </div><!--/.col-sm-6-->
</div><!--/.row-->
<!--Lista de Cajas-->
<div class="my-3"
  ng-hide="busy">
  <h4 class="text-center">
    <small>Números de serie registrados:</small>
    {{batch.stocks.length}}
  </h4>
  <!--Barra de progreso-->
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar"
      aria-valuenow="{{progress}}"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width: {{progress}}%;">
      {{progress}} %
    </div>
  </div>
  <div class="row">
    <!--Caja-->
    <div class="col-sm-3"
      ng-repeat="box in boxes">
      <h5 class="text-center mt-1">Caja: {{boxes.length - $index}}</h5>
      <table class="table table-sm table-bordered table-striped">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">IMEI</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="stock in box.stocks">
            <td class="text-right align-middle">
              {{box.stocks.length - $index}}
            </td>
            <td class="text-center align-middle">
              <span ng-bind-html="makeSerial(stock.IMEI)"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>