<nav aria-label="Paginación" ng-hide="pagination.total <= 1">
  <ul class="pagination pagination-sm justify-content-end">
    <li class="page-item" >
      <a class="page-link" title="Primera página"
        ng-click="gotoPage('first')">
        <span class="fa fa-angle-double-left"></span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" title="Página anterior"
        ng-click="gotoPage('previous')">
        <span class="fa fa-angle-left"></span>
      </a>
    </li>
    <li class="page-item {{page.active ? 'active':''}}"
      ng-repeat="page in pagination.visiblePages">
      <a class="page-link" ng-click="gotoPage(page.number)">
        {{page.number}}
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" title="Siguiente página"
        ng-click="gotoPage('next')">
        <span class="fa fa-angle-right"></span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" title="Última página"
        ng-click="gotoPage('last')">
        <span class="fa fa-angle-double-right"></span>
      </a>
    </li>
  </ul>
</nav>