<div class="row justify-content-center">
  <div class="col-sm-6 col-md-4">
    <!--Card-->
    <div class="card card-login mt-5">
      <div class="image-logo">
        <img alt="Logo de AX" class="card-img-top" src="assets/img/logo.png">
      </div>
      <!--Cuerpo de la tarjeta-->
      <div class="card-body">
        <h4>Reestablecer Contraseña</h4>
        <form name="formReset" autocomplete="off"
          class="needs-validation" novalidate
          ng-submit="restore()">
          <!--Password 1-->
          <div class="form-group">
            <label for="password1">Nueva contraseña</label>
            <input type="password" id="password1" class="form-control form-control-sm" tabindex="1"
              required autofocus
              placeholder="Escriba su nueva contraseña."
              ng-model="user.password1">
            <div class="invalid-feedback">
              Debe escribir su nueva contraseña.
            </div>
          </div>
          <!--Password 2-->
          <div class="form-group">
            <label for="password2">Repetir contraseña</label>
            <input type="password" id="password2" class="form-control form-control-sm" tabindex="2"
              required autofocus
              placeholder="Repetir su nueva contraseña."
              ng-model="user.password2">
            <div class="invalid-feedback">
              Debe volver a escribir su nueva contraseña.
            </div>
          </div>
          <!--Botones-->
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-sm" tabindex="3">
              Reestablecer
              <span class="fa fa-check"></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
